<section class="pt-3" id="dashboard">
  <div class="container-fluid">
    <div class="my-box">
      <div class="box-header">
        <div class="header-body">
          <img class="" [src]="imageSrc" id="imagePreview" alt="Banner Logo" />
          <button class="btn btn-pirmary banner-edit"><input type="file" id="imageUpload" name="imageUrl"
              accept="image/*" (change)="handleInputChange($event)" /><i class="fa fa-pencil"></i></button>
        </div>
        <div class="company-logo">
          <img class="" [src]="bannerImg" alt="Company Logo" />
          <button class="btn btn-pirmary logo-edit"><input type="file" id="imageUpload" name="imageUrl" accept="image/*"
              (change)="handleInputChange2($event)" /><i class="fa fa-pencil"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="col-sm-6">
          <!-- box-body-logo -->

        </div>
        <!-- <div class="box-body-main-content row"> -->
        <div class="col-sm-6 box-body-main-content">
          <h3>Best Way Fashion</h3>
          <p>India<br>Ready-made garment manufacturer</p>
        </div>
        <!-- <div class="add-btns col-sm-6">
            <button class="btn btn-md rmi-btn">+ Request more info</button>
            <button class="btn btn-md bookmark-btn">+ Bookmarks</button>
          </div> -->
        <!-- </div> -->
        <div class="box-body-sub-content">
          <h6>Key Facts</h6>
          <div class="row">
            <div class="col-lg-6">
              <div class="sub-content">
                <div class="d-flex sub-content-wrapper">
                  <div class="group-label"><label for="">Target Group</label></div>
                  <div class="group1"><label for="">Men,women</label></div>
                </div>
                <div class="d-flex sub-content-wrapper">
                  <div class="group-label"><label for="">Product Group</label></div>
                  <div class="pl-27"><label for="">Jackets & Coats, Pullover & Sweatshirts, Tops &
                      Shirts</label></div>
                </div>
                <div class="d-flex sub-content-wrapper">
                  <div class="group-label"><label for="">Segment Group</label></div>
                  <div class="group3"><label for="">Casual</label></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sub-content">
                <div class="sub-content-margin">
                  <p><b>Top 3 Products</b></p>
                  <label class="product-label">polo</label>
                  <label class="product-label">T-shirt</label>
                  <label class="product-label">Sweatshirt</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="box-style">
      <div class="row">
        <nav class="navbar">
          <ul class="nav nav-pills custom-navbar">
            <li class="nav-item">
              <a class="nav-link " href="#summary" [ngClass]="{'isActive':selectedTab =='0'}" (click)="onTabClick('0')"
                data-toggle="pill">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" [ngClass]="{'isActive':selectedTab =='1'}" (click)="onTabClick('1')"
                data-toggle="pill">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#products" [ngClass]="{'isActive':selectedTab =='2'}" (click)="onTabClick('2')"
                data-toggle="pill">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services" [ngClass]="{'isActive':selectedTab =='3'}" (click)="onTabClick('3')"
                data-toggle="pill">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#compliance" [ngClass]="{'isActive':selectedTab =='4'}"
                (click)="onTabClick('4')" data-toggle="pill">Compliance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#locations" [ngClass]="{'isActive':selectedTab =='5'}" (click)="onTabClick('5')"
                data-toggle="pill">Locations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#showroom" (click)="onTabClick('6')" [ngClass]="{'isActive':selectedTab =='6'}"
                data-toggle="pill">Showroom</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="box-style">
      <p class="profile">Profile Strength:{{profileStrength}}</p>
      <div class="progress">
        <div class="one success-color">
          <button class=" btn-tab-progress"><i class="fa fa-check-circle-o "
              (click)="onProgressBarClick(0)"></i></button>
        </div>
        <div class="two no-color">
          <button class=" btn-tab-progress"><i class="fa fa-check-circle-o"
              (click)="onProgressBarClick(1)"></i></button></div>
        <div class="three no-color">
          <button class=" btn-tab-progress"><i class="fa fa-check-circle-o"
              (click)="onProgressBarClick(2)"></i></button>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
      </div>
      <div class="mt-4">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
              <mat-panel-description class="justify-content-start">
                <p class="mb-0">Steps to reach the next level</p>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="expansion-panel-btns">
              <div class="row">
                <div class="col-md-3" *ngFor="let tabs of currentTabObj">
                  <button (click)="onTabClick(tabs.tabClick)">{{tabs.tabName}}</button>
                </div>
                <!--  <div class="col-md-3">
                  <button (click)="onTabClick('6')">---Showroom</button>
                </div>
                <div class="col-md-3">
                  <button>---Company logo</button>
                </div>
                <div class="col-md-3">
                  <button (click)="onTabClick('4')">---Compliance</button>
                </div>
                <div class="col-md-3">
                  <button (click)="onTabClick('1')">---Export countries</button>
                </div> -->
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>
<div [hidden]=true>
  <!-- <tag-input [ngModel]="dropdownvalues">
    <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="true" [dynamicUpdate]="true">
    </tag-input-dropdown> 
  </tag-input>-->
  {{items | json}}
  <button class="btn" (click)="selectedChips()">saveTags</button>
</div>

<section>
  <div class="tab-content">
    <div id="summary" class="tab-pane fade " [ngClass]="{'show':selectedTab =='0','active':selectedTab =='0'}">
      <!-- <p>summary works</p> -->
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-md-6">
            <div class="box-styles">
              <div class="products-group-container">
                <div class="box-styles-header">
                  <i class="fab fa-buffer"></i>
                  <p>Product groups</p>
                  <button class="btn btn-md view-btn">View more</button>
                </div>
                <div class="box-styles-body products-group-body">
                  <div class="loader"></div>
                  <div class="lists">
                    <ul>
                      <li><span>
                          <div class="list-type1"></div>
                        </span>Tops & T-shirts</li>
                      <li><span>
                          <div class="list-type2"></div>
                        </span>Pullover & Sweatshirts</li>
                      <li><span>
                          <div class="list-type3"></div>
                        </span>Jackets & Coats</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-styles">
              <div class="showroom-container">
                <div class="box-styles-header">
                  <i class="fal fa-camera-alt"></i>
                  <p>Showroom</p>
                  <button class="btn btn-md view-btn">View more</button>
                </div>
                <div class="box-styles-body showroom-body">
                  <button class="btn btn-md btn-success" [ngClass]="{'isActive':selectedTab =='6'}"
                    (click)="onTabClick('6')">Fill Showroom</button>
                </div>
              </div>
            </div>
            <div class="box-styles">
              <div class="order-size-container">
                <div class="box-styles-header">
                  <i class="fal fa-tshirt"></i>
                  <p>Order size</p>
                  <button class="btn btn-md view-btn">View More</button>
                </div>
                <div class="box-styles-body order-size-body">
                  <div class="order-size-wrapper testing-wrapper">
                    <div class="order-category">
                      <p><label>Segment:</label>Mens-L-42 inches</p>
                      <p><label>Product group:</label>Smart Jersey</p>
                    </div>
                    <div class="order-quantity">
                      <p><label>Min Order Qty:</label><b>501-1000</b></p>
                      <!-- <p>Minimum order quantity</p> -->
                    </div>
                  </div>
                  <div class="order-size-wrapper">
                    <div class="order-category1">
                      <p>Kids</p>
                      <p>Football SmartSole</p>
                    </div>
                    <div class="order-quantity1">
                      <p><b>30-3000</b></p>
                      <p>Minimum order quantity</p>
                    </div>
                  </div>
                  <div class="order-size-wrapper">
                    <div class="order-category">
                      <p>Mens-M-42 inches</p>
                      <p>Smartwatch Elite</p>
                    </div>
                    <div class="order-quantity">
                      <p class="mb-0"><b>20-200</b></p>
                      <p>Minimum order quantity</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="tab-pane fade " [ngClass]="{'show':selectedTab =='1','active':selectedTab =='1'}">
      <!-- <p>about works</p> -->
      <app-about></app-about>
    </div>
    <div id="products" class="tab-pane fade " [ngClass]="{'show':selectedTab =='2','active':selectedTab =='2'}">
      <!-- <p>products works</p> -->
      <app-products></app-products>
    </div>
    <div id="services" class="tab-pane fade " [ngClass]="{'show':selectedTab =='3','active':selectedTab =='3'}">
      <!-- <p>services works</p> -->
      <app-services></app-services>
    </div>
    <div id="compliance" class="tab-pane fade " [ngClass]="{'show':selectedTab =='4','active':selectedTab =='4'}">
      <app-certificates></app-certificates>
    </div>
    <div id="locations" class="tab-pane fade " [ngClass]="{'show':selectedTab =='5','active':selectedTab =='5'}">
      <!-- <p>locations works</p> -->
      <app-locations></app-locations>
    </div>
    <div id="showroom" class="tab-pane fade " [ngClass]="{'show':selectedTab =='6','active':selectedTab =='6'}">
      <app-show-rooms></app-show-rooms>
    </div>
  </div>
</section>