.side-bg {
    background-color: #222d32;
}
#top_bids {
    background-color: rgba(0,0,0,.03);
    .card {
        max-width: 960px;
   
    .card-header {
        background-color: #fff;
        .product_img {
            padding: 10px 20px;
            img{
                max-width: 100%;
                width: 180px;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .product_details {
            padding: 10px;
        }
        .product_value {
            padding: 10px 55px;
        }
    }
    .card-body {
        .table-ht {
            max-height: 200px;
        }
    }
}
}
