<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side-bg px-0">
      <app-seller-sidebar></app-seller-sidebar>
    </div>
    <div class="col-sm-10" id="top_bids">
      <section class="p-3">
            <div class="container">
              <div id="accordion">
                  <div class="card mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div class="product_img">
                          <img src="assets/img/Basketball_6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product_details">
                            <h5>Nike shoes</h5>
                            <p>Description:</p>
                            <span>The Nike Air Zoom Winflo 5 was considered by many to be a worthy</span>
                        </div>
                        <div class="product_value">
                          <h5>Price</h5>
                          <p>$250</p>
                        </div>
                      </div>
                      <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Show More
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                          <div class="table-responsive table-ht">
                          <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th>Product</th>
                                  <th>Company Name</th>
                                  <th>Bid Quantity</th>
                                  <th>Bid Amount</th>
                                  <th>Description</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                     to the Winflo series of running shoes.</td>
                                </tr>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                      to the Winflo series of running shoes.</td>
                                </tr>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                      to the Winflo series of running shoes.</td>
                                </tr>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                      to the Winflo series of running shoes.</td>
                                </tr>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                      to the Winflo series of running shoes.</td>
                                </tr>
                                <tr>
                                  <td>Shoes</td>
                                  <td>Nike</td>
                                  <td>500</td>
                                  <td>$15000</td>
                                  <td>The Nike Air Zoom Winflo 5 was considered by many to be a worthy addition
                                      to the Winflo series of running shoes.</td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div class="product_img">
                          <img src="assets/img/Cricket_4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product_details">
                            <h4>kookaburra</h4>
                            <p>Description</p>
                            <span>The kookaburra Air Zoom Winflo 5 was considered by worthy</span>
                        </div>
                        <div class="product_value">
                          <h5>Price</h5>
                          <p>$250</p>
                        </div>
                      </div>
                      <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                        Show More
                      </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                          <div class="table-responsive table-ht">
                          <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th>Product</th>
                                  <th>Company Name</th>
                                  <th>Bid Quantity</th>
                                  <th>Bid Amount</th>
                                  <th>Description</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic interest of batsman and bowlers</td>
                                </tr>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic in nature and required optimum cricket ball 
                                    performance in order to maintain the interest of batsman and bowlers</td>
                                </tr>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic in nature and required optimum cricket ball 
                                    performance in order to maintain the interest of batsman and bowlers</td>
                                </tr>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic in nature and required optimum cricket ball 
                                    performance in order to maintain the interest of batsman and bowlers</td>
                                </tr>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic in nature and required optimum cricket ball 
                                    performance in order to maintain the interest of batsman and bowlers</td>
                                </tr>
                                <tr>
                                  <td>Balls</td>
                                  <td>kookaburra</td>
                                  <td>150</td>
                                  <td>$12366</td>
                                  <td>One day cricket game is dynamic in nature and required optimum cricket ball 
                                    performance in order to maintain the interest of batsman and bowlers</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div class="product_img">
                          <img src="assets/img/Football_2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="product_details">
                            <h4>Gloves</h4>
                            <p>Description</p>
                            <span>The Gloves Air Zoom Winflo 5 was considered worthy</span>
                        </div>
                        <div class="product_value">
                          <h5>Price</h5>
                          <p>$250</p>
                        </div>
                      </div>
                      <a class="card-link" data-toggle="collapse" href="#collapseThree">
                        Show More
                      </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                          <div class="table-responsive table-ht">
                          <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                    <th>Product</th>
                                    <th>Company Name</th>
                                    <th>Bid Quantity</th>
                                    <th>Bid Amount</th>
                                    <th>Description</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                                <tr>
                                  <td>Gloves</td>
                                  <td>Daman and Diu</td>
                                  <td>500</td>
                                  <td>$12,500</td>
                                  <td>Extra finger protection with PVC reinforcement on the index finger and thumb</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
    </section>
    </div>
  </div>
</div>


