<div class="" id="sidebar-wrapper" [class.show]="show">
  <button
    class="navbar-toggler sidebartoggler"
    type="button"
    data-target=""
    (click)="toggleCollapse()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <img src="assets/img/side-menu-button.png" class="navbar-toggler sidebartoggler" alt="" (click)="toggleCollapse()"> -->
  <div class="seller-info d-flex flex-sm-column flex-lg-row">
    <div class="seller-image">
      <img
        src="assets/img/user2-160x160.jpg"
        class="rounded-circle"
        alt="User Image"
      />
    </div>
    <div class="info">
      <p>Best Way Fashion</p>
    </div>
  </div>
  <div class="list-group list-items-wrapper">
    <nav class="navbar custom-navbar sidebar-nav">
      <ul class="navbar-nav" id="sidebarnav">
        <li class="nav-item custom-navitem">
          <a
            class="nav-link"
            [routerLink]="['dashboard']"
            routerLinkActive="isActive"
          >
            <mat-icon class="material-icons">dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item custom-navitem">
          <a
            class="nav-link"
            [routerLink]="['notifications']"
            routerLinkActive="isActive"
          >
            <mat-icon class="material-icons">sms</mat-icon>
            <span>Messages</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
