@import "../../../custom_styles/variables";

.showroom-container { 
  margin: 8px 0px 30px 0px;
  padding: 10px;
  h5 {
    font-weight: bold;
    @include mobile {
      font-size: 14px;
    }
  }
  .box-style {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 600;
    .add-product-btn {
      @extend %colored-btn;
      background-color: $red-btn;
    }
  }
  .pre-filled-view {
    .pre-filled-content {
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      i {
        font-size: 70px;
        display: block;
        @include mobile {
          font-size: 45px;
        }
      }
      small {
        font-size: 70%;
        font-weight: 600;
      }
    }
  }
  .showroom-images-container {
    box-shadow: $box-shadow;
    margin: 15px 0;
    .showroom-wrapper {
      padding: 0.5rem;
      .showroom-images-header {
        display: flex;
        justify-content: space-between;
        .seller-info {
          .seller-image {
            img {
              width: 50px;
              height: 50px;
              max-width: 50px;
            }
          }
          .info {
            font-size: 13px;
            font-weight: bold;
          }
        }
        .labels {
          p {
            font-size: 11px;
            font-weight: bold;
            display: inline;
            vertical-align: top;
            margin-left: 6px;
          }
        }
      }
      .showroom-product-heading {
        margin: 7px 0;
        p {
          margin-bottom: 0;
          font-size: 12px;
          &:first-child {
            font-weight: bold;
          }
        }
      }
      .showroom-images {
        margin: 20px 0;
        .product-image {
          box-shadow: $box-shadow;
          img {
            width: 300px;
          }
        }
      }
      .more-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 6px;
        .btn-cancel {
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.19);
          border: none;
        }
      }
    }
  }
}
