<div class="">
  <div class="showroom-container">
    <h5 class="mb-0">Increase your business, Isobel Macphee</h5>
    <small>Choose type of post</small>
    <div class="d-flex justify-content-between align-items-center box-style">
      Add products to your showroom
      <button class="btn add-product-btn" (click)="onShowAddProduct()">Add Product</button>
    </div>
    <div class="my-2 pre-filled-view">
      <h5>Our published updates</h5>
      <div class="pre-filled-content text-center">
          <i class="material-icons">
              library_books
              </i>
        <small>No showroom update posts. yet!</small>
      </div>
    </div>
  </div>
</div>