@import "../../custom_styles/variables";

.sidenav-wrapper {
  position: absolute;
  width: 240px;
  height: 100vh;
  top: 0px;
  z-index: 20;
  padding-top: 70px;
  margin-top: 30px;
  @include mobile {
    width: 70px;
    margin-top: 0;
  }
  @include tablet {
    width: 70px;
  }
}
.main-wrapper {
  margin-left: 240px;
  // height: calc(100vh - 64px);
  position: relative;
  overflow: auto;
  @include mobile {
    margin-left: 0px !important;
  }
  @include tablet {
    margin-left: 70px;
  }
}
