#sidebar-wrapper {
    margin-top: 37px;
    .seller-info {
        .seller-image {
            img {
                width: 60px;
                height: 60px;
                max-width: 60px;
            }
        }
    }
    .list-items-wrapper {
        a {
            color: #212529;
            margin: 5px 0px 5px 0px;
        }
        .isActive {
            color: rgb(233, 50, 50);
            border-left: 3px solid rgb(233, 50, 50);
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #fbfbfb;
        }
        mat-icon {
            font-size: 1.4rem;
            vertical-align: middle;
        }
        .sidebar-links {
            padding: 2px 2px 2px 12px;
            font-size: 15px;
        }
    }
}