<div class="" id="sidebar-wrapper">
  <div class="seller-info d-flex">
    <div class="seller-image">
      <img src="assets/img/user2-160x160.jpg" class="rounded-circle" alt="User Image">
    </div>
    <div class="info px-3">
      <p>Eastman Exports Global clothing Pvt ltd</p>
    </div>
  </div>
  <div class="list-group list-items-wrapper">
    <nav class="navbar">
    <ul class="navbar-nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <div (click)="menuClick(menuItem)">
            <!-- <i class="material-icons">{{menuItem.icon}}</i> -->
            <p class="d-inline">{{menuItem.title}}</p>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  </div>
</div>