<div class="container">
  <div class="box-style">
    <div>
      <p><b>Overview</b></p>
      <p>An overview of all products and their production percentage</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="sub-title"><b>Target Group</b></p>
        <div class="box-style">
          <p>Children (all ages)</p>
          <p>Adult (24 to 60)</p>
        </div>
      </div>
      <div class="col-md-4">
        <p class="sub-title"><b>Segment</b></p>
        <div class="box-style">
          
        </div>
      </div>
      <div class="col-md-4">
        <p class="sub-title"><b>Product Group</b></p>
        <div class="box-style">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="box-style">
    <div>
      <p>Product Details</p>
      <p>Top 3 Products</p>
      <button class="btn btn-md">View More</button>
    </div>  
    <div>

    </div>
  </div>
</div>