<nav class="navbar navbar-expand-lg nav-bg fixed-top">
  <div class="logo">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/Peragon_logo.png" alt=""></a>
  </div>
  <button (click)="toggleCollapse()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
    <!-- <span></span>
    <span></span>
    <span></span> -->
  </button>
  <div class="collapse navbar-collapse justify-content-end nav-items" id="collapsibleNavbar" [class.show]="show">
    <ul class="navbar-nav">
      <li class="nav-item custom-nav-item" routerLinkActive="current" (click)="toggleCollapse()">
        <a class="nav-link" [routerLink]="['/howitworks']" data-toggle="collapse">How it
          works</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link">Our Members</a>
        </li> -->
      <li class="nav-item custom-nav-item buyer-menu dropdown" routerLinkActive="current" *ngIf="dropDownMenu"
        (click)="toggleCollapse()">
        <a class="nav-link nav-link dropdown-toggle" data-toggle="dropdown">For
          Buyers</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item forBuyer-menu-items" data-toggle="collapse">Why Perogon?</a></li>
          <li><a class="dropdown-item forBuyer-menu-items" (click)="requestForQuatation();"
              data-toggle="collapse">Request For Quotations</a>
          </li>
        </ul>
      </li>
      <li class="nav-item custom-nav-item buyer-menu" routerLinkActive="current" *ngIf="!dropDownMenu"
        (click)="toggleCollapse()">
        <a class="nav-link nav-link " [routerLink]="['/forBuyer']" data-toggle="collapse">For Buyers</a>

      </li>
      <li class="nav-item custom-nav-item" routerLinkActive="current" (click)="toggleCollapse()">
        <a class="nav-link" [routerLink]="['/forSeller']" data-toggle="collapse">For Suppliers</a>
      </li>
      <li class="nav-item custom-nav-item" routerLinkActive="current" (click)="toggleCollapse()">
        <a class="nav-link" [routerLink]="['/pricing']" data-toggle="collapse">Pricing</a>
      </li>
      <li class="nav-item join-btn" routerLinkActive="current" *ngIf="signInFlag">
        <a class="nav-link" [routerLink]="['/signup']" (click)="signUp()" data-toggle="collapse" (click)="toggleCollapse()">Join Now</a>
      </li>
      <li class="nav-item login-btn" routerLinkActive="current" *ngIf="signInFlag">
        <a class="nav-link" [routerLink]="['/login']" (click)="signIn()" data-toggle="collapse" (click)="toggleCollapse()">Login</a>
      </li>


      <!-- end for buyer -->

      <li class="nav-item login-btn" *ngIf="!signInFlag">
        <!-- <a class="nav-link" >Logout</a> -->
        <a class="nav-link dropdown-toggle dropdown" data-toggle="dropdown">
          <img src="assets/img/header-profile-img.jpg">
          <span class="header-profile-text">Macsof</span>
          <ul class="dropdown-menu inner-dropdown">
            <li class="nav-item"><a class="dropdown-item nav-link" (click)="onDashboardPage()">Dashboard</a></li>
            <li class="nav-item"><a class="dropdown-item nav-link" (click)="logout()">Logout</a></li>
          </ul>
        </a>
      </li>
    </ul>

  </div>
</nav>