//  body{
//     background: rgb(224, 220, 236);
// }

.custom-card {
  border: none;

  .card-body {
    h6 {
      font-size: 14px;
    }
    .chart-no {
      i {
        font-size: 27px;
        margin-left: 4px;
      }
      .red {
        color: #ef5350 !important;
      }
      .blue {
        color: #26dad2 !important;
      }
    }
  }
}

section {
  background-color: #f5f5f5;
  .dashboard-main {
    padding: 30px 30px 25px;
    .filters {
      background-color: #fff;
      margin-bottom: 25px;
      padding: 20px;
       .select {
           select {
               width: 100%;
               }
       }
   }    
  }
}
span {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc;
}
.box {
  padding: 60px 0px;
}

.box-part {
  background: #eee;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}
.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}

p {
  font-family: Lato;
}
.dashBoard {
  // display: block;
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    .card-body {
      p {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
#chartdiv {
  height: 250px;
  // position: relative;
}
