<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side-bg px-0">
      <app-seller-sidebar></app-seller-sidebar>
    </div>
    <div class="col-sm-10 bg-color">
      <section class="p-3" id="dashboard">
        <div class="container-fluid">
          <div class="box">
            <div class="box-header">
              <div class="header-body">
                
              </div>  
            </div>
            <div class="box-body">
              <div class="box-body-logo"><p>Logo</p></div>
              <div class="box-body-main-content row">
                <div class="col-sm-6">
                  <h3>Best Way Fashion</h3>
                  <p>India Ready-made garment manufacturer</p>
                </div>
                <div class="add-btns col-sm-6">
                  <button class="btn btn-md rmi-btn">+ Request more info</button>
                  <button class="btn btn-md bookmark-btn">+ Bookmarks</button>
                </div>
              </div>  
              <div class="box-body-sub-content">
                <div class="sub-content">
                  <p>Key Facts</p>
                  <form>
                    <div>
                      <label>Target Group</label>
                      <div class="form-control-plaintext">Men,Women</div>
                    </div>  
                    <div>
                      <label>Product Group</label>
                      <div class="form-control-plaintext">Jackets & Coats, Pullover & Sweatshirts, Tops & Shirts</div> 
                    </div>
                    <div>  
                      <label>Segment Group</label>
                      <div class="form-control-plaintext">Casual</div> 
                    </div>  
                  </form> 
                </div>
                <div class="sub-content">
                  <p>Top 3 Products</p>
                  <button class="btn btn-md product-btns">polo</button>
                  <button class="btn btn-md product-btns">T-shirt</button>
                  <button class="btn btn-md product-btns">Sweatshirt</button>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>