
<div class="container">
  <div class="messages">
    <div class="row">
      <div class="col-md-4">
        <div class="messages-sidebar">
          <div class="sidebar-title">
            <mat-icon>mail_outline</mat-icon>
            <h6>Inbox</h6>
            <select>
              <option></option>
              <option></option>
              <option></option>
            </select>  
          </div>
          <div class="sidebar-body">
           <nav class="navbar">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link isActive custom-nav-styles" href="#user1" data-toggle="pill">
                  <div class="sidebar-body-content">
                    <div><img src="../../../assets/img/header-profile-img.jpg"></div>
                    <div class="notification">2</div>
                    <div class="sidebar-body-text">
                      <div><h6>M@csof Technologies</h6></div>
                      <div class="paragraph"><p>Lorem ipsum dolor.</p></div>
                      <div class="sub-paragraph"><p>Lorem ipsum dolor Lorem ipsum dolor sit.</p></div>
                    </div>  
                  </div> 
                </a>  
              </li> 
              <li class="nav-item"> 
                <a class="nav-link isActive custom-nav-styles" href="#user2" data-toggle="pill">
                  <div class="sidebar-body-content">
                    <div><img src="../../../assets/img/header-profile-img.jpg"></div>
                    <div class="notification">2</div>
                    <div class="sidebar-body-text">
                      <div><h6>M@csof Technologies</h6></div>
                      <div class="paragraph"><p> Lorem ipsum dolor.</p></div>
                      <div class="sub-paragraph"><p> Lorem ipsum dolor Lorem ipsum dolor sit.</p></div>
                    </div>  
                  </div> 
                </a>  
              </li>   
              <li class="nav-item">
                <a class="nav-link isActive custom-nav-styles" href="#user3" data-toggle="pill">
                  <div class="sidebar-body-content">
                    <div><img src="../../../assets/img/header-profile-img.jpg"></div>
                    <div class="sidebar-body-text">
                      <div><h6>M@csof Technologies</h6></div>
                      <div class="paragraph"><p> Lorem ipsum dolor.</p></div>
                      <div class="sub-paragraph"><p> Lorem ipsum dolor Lorem ipsum dolor sit.</p></div>
                    </div>  
                  </div> 
                </a>   
              </li>  
            </ul> 
          </nav>    
          </div>
        </div>
      </div>
       
      <div class="tab-content">
        <div class="col-md-8 tab-pane" id="user1">
          <div class="messages-body">
            <div>
              <h2>You have a new messages User1</h2>
            </div>
          </div>
        </div>
        <div class="col-md-8 tab-pane"  id="user2"> 
          <div class="messages-body"> 
            <div>
              <h2>You have a new messages User2</h2>
            </div>
          </div> 
        </div>
        <div class="col-md-8 tab-pane" id="user3"> 
          <div class="messages-body"> 
            <div>
              <h2>You have a new messages User3</h2>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>