<section>
  <div class="buyers-hero">
    <div class="banner-hero-image">
        <div class="image-text-box">
            <h1>Why Peragon for Buyers ?</h1>
            <p>Access the largest supplier database for free and no commissions or transactions fees</p>
            <button class="btn btn-lg join-btn">Sign-up free</button>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="buyer_search_filter">
    <div class="container">
      <div>
        <div class="filter_header">
          <h3>Search</h3>
        </div>
        <div class="filter_wrapper">
          <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect2">
                      <option selected>Select Sports</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect2">
                      <option selected>Select Category</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect2">
                      <option selected>Select Manufacture</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Title">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="" placeholder="Enter Title">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="" placeholder="Enter Title">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="" placeholder="Search for a Manufacture">
                </div>
              </div>
          </div>
          <div class="filter_search_btn">
            <button class="btn btn-warning">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="about_manufacturers">
    <div class="container">
      <div class="manu_header text-center mb-5">
        <h3>What Buyers are saying about Manufacturers ?</h3>
      </div>
      <div class="row">
        <div class="col-md-4"> 
          <div class="manufact_card p-3 text-center">
            <div class="manufact_logo">
              <img src="assets/img/Vumero-logo.png" alt="Vumero Logo">
            </div>
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="reviews">
            <small>"I cannot recommend Vumero
                enough. A safe, quality and on
                time delivery with good pricing."
              </small>
            </div>
              <div class="d-flex manufact_details justify-content-center">
                <img src="assets/img/bcci-logo.png" alt="Bcci logo">
                <div class="manufact_brand">
                  <p>BCCI</p>
                  <p>India</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="manufact_card p-3 text-center">
              <div class="manufact_logo">
                <img src="assets/img/ruby-logo.png" alt="Ruby Logo">
              </div>
              <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
              </div>
              <div class="reviews">
              <small>"Very responsive during RFP."</small>
              </div>
                <div class="d-flex manufact_details justify-content-center">
                  <img src="assets/img/NBL-logo.svg" alt="NBL logo">
                  <div class="manufact_brand">
                    <p>NBL</p>
                    <p>Australia</p>
                  </div>
                </div>
            </div>
          </div>
        <div class="col-md-4">
            <div class="manufact_card p-3 text-center">
              <div class="manufact_logo">
              <img src="assets/img/process-logo.jpg" alt="Sports Logo">
            </div>
              <div class="ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
              </div>
              <div class="reviews">
              <small>"Repeat orders and maintaining
                  upto date inventory helps us in
                  receiving goods on time"
                </small>
              </div>
                <div class="d-flex manufact_details justify-content-center">
                  <img src="assets/img/para-sports-logo.png" alt="Para Sports logo">
                  <div class="manufact_brand">
                    <p>Indian Paralympics</p>
                    <p>India</p>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sport-source-info p-3">
    <div class="container">
      <div class="title">
        <h3>Search worldwide – all sport sourcing
            information in one tool</h3>
      </div>
      <div class="row py-3">
        <div class="col-md-6 info">
          <h5>Find sporting manufacturers</h5>
          <p><i class="fa fa-check"></i>Access a global profile database of verified sports good manufacturers</p>
          <p><i class="fa fa-check"></i>Search who best fits your needs with a unique filter & matching function</p>
          <p><i class="fa fa-check"></i>Receive best offers to your needs with our request for quotations too</p>
        </div>
        <div class="col-md-6 info">
          <h5>Organize your supplier network</h5>
          <p><i class="fa fa-check"></i>Bookmark your business network and stay up-to-date on relevant changes</p>
          <p><i class="fa fa-check"></i>Store your knowledge by adding notes, files or pictures to any profile</p>
          <p><i class="fa fa-check"></i>Explore thousands of product pictures in virtual supplier showrooms</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="manufacturers_list">
    <div class="container">
      <div class="title">
        <h4>Manufacturers</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="manufacturers_card mb-3">
            <div class="card-wrapper">
              <p>Completed</p>
              <h4>455<small> orders worth</small></h4>
              <h4>US $20,107,308<small> as of 2019</small></h4>
              <p>Exported to countries like MX,US & GB</p>
            </div>
            <div class="manufacturers_inner_card">
              <div class="row px-4 py-3">
                <img src="assets/img/jho-low-profile.jfif" alt="">
                <div class="pl-3">
                  <p>Mr. Luke Li</p>
                  <small>Manager</small>

                </div>
                <div class="manufacturers_logos">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="manufacturers_card mb-3">
            <div class="card-wrapper">
              <p>Completed</p>
              <h4>60<small> orders worth</small></h4>
              <h4>US $5,138,239<small> as of 2019</small></h4>
              <p>Exported to countries like AE,GH & KZ</p>
            </div>
            <div class="manufacturers_inner_card">
              <div class="row px-4 py-3">
                <img src="assets/img/jho-low-profile.jfif" alt="">
                <div class="pl-3">
                  <p>Ms. Helen Lin</p>
                  <small>Manager</small>

                </div>
                <div class="manufacturers_logos">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="manufacturers_card mb-3">
            <div class="card-wrapper">
              <p>Completed</p>
              <h4>283<small> orders worth</small></h4>
              <h4>US $11,267,299<small> as of 2019</small></h4>
              <p>Exported to countries like PK,TH & LK</p>
            </div>
            <div class="manufacturers_inner_card">
              <div class="row px-4 py-3">
                <img src="assets/img/profile-img-3.jfif" alt="">
                <div class="pl-3">
                  <p>Mr. James Lam</p>
                  <small>General Manager</small>

                </div>
                <div class="manufacturers_logos">
                  <img src="assets/img/profile-img-3.jfif" alt="">
                  <img src="assets/img/profile-img-3.jfif" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
