@import "../../custom_styles/variables";

$primary-bg-color: #f40785;


/*------------------------------------*\
  #Main Image Section
\*------------------------------------*/

.buyers-hero {
    position: relative;
    overflow: hidden;
    .banner-hero-image {
        background-image: url('../../assets/img/women-shopping-online.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding-top: 50px;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        .image-text-box {
            position: absolute;
            padding: 40px 0 0 60px;
            h1 {
                color:#ffffff;
                padding-bottom: 15px;
                @extend %h1-styles;
            }
            h5 {
                color: #fff;
                letter-spacing: 1.5px;
                font-size: 2rem;
                margin-bottom: 1em;
            }
            .signup-btn {
                background-color: $primary-bg-color;
                color: #fff;
                padding-bottom: 13px;
                @extend %btn-styles;
            }
        }
    }
}

.buyer_search_filter{
    .filter_header{
        h2 {
            color: black;
            @extend %h-styles;
        }

       
    }
    .filter_wrapper {       
        border: 2px solid #f2f2f2;
        padding: 10px 20px;
        margin-bottom: 10px;
        .filter_search_btn {
            text-align: end;
            color: #fff;
        }
        p {
            font-size: 20px;
            line-height: 1.85;
            letter-spacing: 1.2px;
            text-align: center;
            color: #262626;
            margin-bottom: 30px;
        }
    } 
}


.about_manufacturers {
    margin-top: 3rem;
    .manu_header {     
        h2 {
            @extend %h-styles;
        }
    }
   
    .manufact_card {
        box-shadow: $box-shadow;
        .manufact_logo {
            height: 150px;
            img {
                width: 150px;
            }
        }        
        .ratings {
            color: yellow;
            padding-right: 5px;
        }
        .reviews {
            height: 60px;
            p {
                margin-bottom: 0.2rem;
                font-size: 15px;
                line-height: 1.85;
                letter-spacing: 1.2px;
                text-align: center;
                color: #262626;
                
            }
        }        
        .manufact_details {
            margin-top: 5px;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: block;
            }
            .manufact_brand {
                margin-left: 10px;
                margin-top: 7px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.sport-source-info {
    margin-top: 3rem;
    .title {
        border-bottom:4px solid ;
        width: 485px;
        margin: auto;
        h3 {
        text-align: center;
        }
    }
    .info {
        h5 {
            color: black;
            letter-spacing: 1.5px;
            font-size: 2rem;
            margin-bottom: 1em;
        }
        margin-bottom: 30px;
            p {
                @extend %list-p-styles;
            }
            i {
                padding-right: 14px;
            }
    }
}

.manufacturers_list {    
        h2 {
            @extend %h-styles;
        }
   
    .manufacturers_card {
        // box-shadow: 0px 0px 0px 5px #d6e8eb59;
        background-color: #d6e8eb59;
        .card-wrapper {
            padding: 1.5em;
            p {
                font-size: 20px;
                line-height: 1.25;
                letter-spacing: 1px;
                text-align: left;
                color: #262626;
                margin-bottom: 10px;
            }
           
        }
       
        .manufacturers_inner_card {
            background-color: #9fcad836;
            position: relative;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .manufacturers_logos {
                position: absolute;
                right: 15px;
                bottom: 8px;
                img {
                    margin-right: 7px;
                }
            }
        }
    }
}