<section>
  <div class="head-part">
    <div class="banner-image">
      <div class="image-text-box">
        <h1>Why Perogon for Buyers ?</h1>
        <h5>Access the largest supplier database for free and no commissions or transactions fees</h5>
        <button class="btn btn-lg signup-btn">Sign-up free</button>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="buyer_search_filter">
    <div class="row">
      <div class="filter_header">
        <h2>Search</h2>
        <hr>
      </div>
    </div>

    <div class="filter_wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect2">
              <option selected>
                <p>Select Sports</p>
              </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect2">
              <option selected>
                <p>Select Category</p>
              </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect2">
              <option selected>
                <p>Select Manufacture</p>
              </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Enter Title">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Enter Title">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Enter Title">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Search for a suppliers">
          </div>
        </div>
      </div>
      <div class="filter_search_btn">
        <button class="btn btn-warning">Search</button>
      </div>

    </div>
  </section>

  <section>
    <div class="about_manufacturers">
      <!-- <div class="container"> -->
      <div class="manu_header mb-5">
        <h2>What Buyers are saying about Supplier ?</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="manufact_card p-3 text-center">
            <div class="manufact_logo">
              <img src="assets/img/Vumero-logo.png" alt="Vumero Logo">
            </div>
            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="reviews">
              <p>"I cannot recommend Vumero
                enough. A safe, quality and on
                time delivery with good pricing."
              </p>
            </div>
            <div class="d-flex manufact_details justify-content-center">
              <img src="assets/img/bcci-logo.png" alt="Bcci logo">
              <div class="manufact_brand">
                <p>BCCI</p>
                <p>India</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="manufact_card p-3 text-center">
            <div class="manufact_logo">
              <img src="assets/img/ruby-logo.png" alt="Ruby Logo">
            </div>
            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="reviews">
              <p>"Very responsive during RFP."</p>
            </div>
            <div class="d-flex manufact_details justify-content-center">
              <img src="assets/img/NBL-logo.svg" alt="NBL logo">
              <div class="manufact_brand">
                <p>NBL</p>
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="manufact_card p-3 text-center">
            <div class="manufact_logo">
              <img src="assets/img/process-logo.jpg" alt="Sports Logo">
            </div>
            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="reviews">
              <p>"Repeat orders and maintaining
                upto date inventory helps us in
                receiving goods on time"
              </p>
            </div>
            <div class="d-flex manufact_details justify-content-center">
              <img src="assets/img/para-sports-logo.png" alt="Para Sports logo">
              <div class="manufact_brand">
                <p>Indian Paralympics</p>
                <p>India</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  </div> -->
    </div>
  </section>

  <section>
    <div class="sport-source-info p-3">
      <div class="container">
        <div class="sports_source">
          <h3>Search worldwide – all sport sourcing
            information in one tool</h3>
            <hr>  
        </div>
        <div class="row py-3">
          <div class="col-md-6">
            <div class="info p-5">
              <h2>Find sporting suppliers</h2>
              <p>Access a global profile database of verified sports good suppliers</p>
              <p>Search who best fits your needs with a unique filter & matching function</p>
              <p>Receive best offers to your needs with our request for quotations too</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info p-5">
              <h2>Organize your supplier network</h2>
              <p>Bookmark your business network and stay up-to-date on relevant changes</p>
              <p>Store your knowledge by adding notes, files or pictures to any profile</p>
              <p>Explore thousands of product pictures in virtual supplier showrooms</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="manufacturers_list">
      <div class="container">

        <h2>Suppliers</h2>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="manufacturers_card mb-3">
              <div class="card-wrapper">
                <small>Completed</small>
                <p></p>
                <p><b>455</b> <small> orders worth</small><p>
                    <p><b>US $20,107,308</b>
                      <small> as of 2019</small>
                    </p>
                    <p>Exported to countries like MX,US & GB</p>
              </div>
              <div class="manufacturers_inner_card">
                <div class="row px-4 py-3">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                  <div class="pl-3">
                    <p>Mr. Luke Li</p>
                    <small>Manager</small>

                  </div>
                  <div class="manufacturers_logos">
                    <img src="assets/img/jho-low-profile.jfif" alt="">
                    <img src="assets/img/jho-low-profile.jfif" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="manufacturers_card mb-3">
              <div class="card-wrapper">
                <small>Completed</small>
                <p></p>
                <p><b>60</b> <small>orders worth</small></p>
                    <p><b>US $5,138,239</b>
                      <small> as of 2019</small>
                    </p>
                    <p>Exported to countries like AE,GH & KZ</p>
              </div>
              <div class="manufacturers_inner_card">
                <div class="row px-4 py-3">
                  <img src="assets/img/jho-low-profile.jfif" alt="">
                  <div class="pl-3">
                    <p>Ms. Helen Lin</p>
                    <small>Manager</small>

                  </div>
                  <div class="manufacturers_logos">
                    <img src="assets/img/jho-low-profile.jfif" alt="">
                    <img src="assets/img/jho-low-profile.jfif" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="manufacturers_card mb-3">
              <div class="card-wrapper">
                <small>Completed</small>
                <p></p>
                <p><b>283</b> <small>orders worth</small></p>

                <p><b>US $11,267,299</b>
                  <small> as of 2019</small>
                </p>
                <p>Exported to countries like PK,TH & LK</p>
              </div>
              <div class="manufacturers_inner_card">
                <div class="row px-4 py-3">
                  <img src="assets/img/profile-img-3.jfif" alt="">
                  <div class="pl-3">
                    <p>Mr. James Lam</p>
                    <small>General Manager</small>

                  </div>
                  <div class="manufacturers_logos">
                    <img src="assets/img/profile-img-3.jfif" alt="">
                    <img src="assets/img/profile-img-3.jfif" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>