@import "../../../custom_styles/variables";

.no-certificates-content1 {
  padding: 5px 5px 0px 2px;
  .add-certificates {
    text-align: center;
    .select-certificates {
      margin-top: 10px;
    }
    .add-certificates-btn {
      @extend %colored-btn;
      background-color: $red-btn;
      i {
        padding-right: 8px;
      }
    }
  }

  .certificates-select {
    .certificate-btn-content {
      text-align: right;
      .btn-next {
        @extend %colored-btn;
      }
    }
  }
}
