<div class="head-part">
    <div class="banner-image">
      <div class="transparent-layer">
        <div class="image-text-box">
          <h1>The world’s sourcing network <br>
            for both side of Sports industry.</h1>
          <h5>Sports Goods Buyers and Suppliers</h5>
          <button class="btn btn-lg signup-btn">Sign-up free</button>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <section class="company-profile">
    <div class="row">
      <div class="col-md-5">
        <div class="pl-5">
          <h2>Detailed & verified company profiles</h2>
          <hr>
          <div class="list-para">
            <p>Supplier profiles are only visible to buyers and provide detailed
              information about company capabilities, product offering, in-house departments, certificates, lead times,
              minimum order quantities, and contact details</p>
            <p>Buyer profiles are only visible to suppliers and include buying specific
              information, such as relevant product categories, purchase volume, required certificates and contact details
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="assets/Images/smaple.png" class="img img-fluid res-img">
      </div>
    </div>

    <div class="row top-mar">
      <div class="col-md-7">
        <div class="pl-5">
          <img src="assets/Images/smaple.png" class="img img-fluid res-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2>Powerful search& matching</h2>
        <hr>
        <div class="list-para">
          <p>Specific filter options allow to fine-tune any search, e.g. by country, order
            size, certification, product group, required materials or services</p>
          <p>The platform shows which partners best match each other and automatically ranks
            search results by relevance</p>
        </div>
      </div>

    </div>
  </section>

  <section class="bookmarks">
    <div class="row">
      <div class="col-md-5">
        <div class="pl-5">
          <h2>Bookmarks & Notes</h2>
          <hr>
          <div class="list-para">
            <p>Buyers and suppliers build and organize their business network in Perogon by
              bookmarking existing and
              potential partners</p>
            <p>Members manage individual knowledge and data in one place by attaching notes,
              files or pictures to any
              profile. Such information is strictly private and secure, not public
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="assets/Images/smaple.png" class="img img-fluid res-img">
      </div>
    </div>

    <div class="row top-mar">
      <div class="col-md-7">
        <div class="pl-5">
          <img src="assets/Images/smaple.png" class="img img-fluid res-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2>Request for quotation</h2>
        <hr>
        <div class="list-para">
          <p>Buyers share requests for quotations and target these to selected manufacturers,
            certain regions, or the entire
            Perogon network</p>
          <p>Suppliers will be notified about relevant buyer request and can directly
            quote using a structured form –
            this helps buyers to receive offers in the most structured way</p>
        </div>
      </div>

    </div>
  </section>

  <section class="digital-supplier">
    <div class="row">
      <div class="col-md-5">
        <div class="pl-5">
          <h2>Digital supplier showrooms</h2>
          <hr>
          <div class="list-para">
            <p>Suppliers share product images within their digital showrooms to showcase
              product, design, and workmanship capabilities</p>
            <p>Buyers can easily review, filter, and bookmark pictures, and get in touch with
              the selected suppliers</p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="assets/Images/smaple.png" class="img img-fluid res-img">
      </div>
    </div>
  </section>
</div>