<div class="banner-image">
  <div class="image-text-box">
    <h1>The world’s sourcing network <br>
      for both side of Sports industry.</h1>
    <h5>Sports Goods Buyers and Manufacturers</h5>
    <button class="btn btn-lg join-btn">Sign-up free</button>
  </div>
</div>

<div class="container">
  <section class="company-profile">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="head-color">Detailed & verified company profiles</h3>
        <div class="list-para text-justify">
          <p><i class="fa fa-check"></i>Supplier profiles are only visible to buyers and provide detailed
            information about company capabilities, product offering, in-house departments, certificates, lead times,
            minimum order quantities, and contact details</p>
          <p><i class="fa fa-check"></i>Buyer profiles are only visible to manufacturers and include buying specific
            information, such as relevant product categories, purchase volume, required certificates and contact details
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/Images/smaple.png" class="img img-responsive res-img">
      </div>
    </div>

    <div class="row top-mar">
      <div class="col-sm-6">
        <img src="assets/Images/smaple.png" class="img img-responsive res-img">
      </div>
      <div class="col-sm-6">
        <h3 class="head-color">Powerful search& matching</h3>
        <div class="list-para text-justify">
          <p><i class="fa fa-check"></i>Specific filter options allow to fine-tune any search, e.g. by country, order
            size, certification, product group, required materials or services</p>
          <p><i class="fa fa-check"></i>The platform shows which partners best match each other and automatically ranks
            search results by relevance</p>
        </div>
      </div>

    </div>
  </section>

  <section class="bookmarks">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="head-color">Bookmarks & Notes</h3>
        <div class="list-para text-justify">
          <p><i class="fa fa-check"></i>Buyers and suppliers build and organize their business network in Peragon by
            bookmarking existing and
            potential partners</p>
          <p><i class="fa fa-check"></i>Members manage individual knowledge and data in one place by attaching notes,
            files or pictures to any
            profile. Such information is strictly private and secure, not public
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/Images/smaple.png" class="img img-responsive res-img">
      </div>
    </div>

    <div class="row top-mar">
      <div class="col-sm-6">
        <img src="assets/Images/smaple.png" class="img img-responsive res-img">
      </div>
      <div class="col-sm-6">
        <h3 class="head-color">Request for quotation</h3>
        <div class="list-para text-justify">
          <p><i class="fa fa-check"></i>Buyers share requests for quotations and target these to selected manufacturers,
            certain regions, or the entire
            Perogon network</p>
          <p><i class="fa fa-check"></i>Manufacturers will be notified about relevant buyer request and can directly
            quote using a structured form –
            this helps buyers to receive offers in the most structured way</p>
        </div>
      </div>

    </div>
  </section>

  <section class="digital-supplier">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="head-color">Digital supplier showrooms</h3>
        <div class="list-para text-justify">
          <p><i class="fa fa-check"></i>Manufacturers share product images within their digital showrooms to showcase
            product, design, and workmanship capabilities</p>
          <p><i class="fa fa-check"></i>Buyers can easily review, filter, and bookmark pictures, and get in touch with
            the selected manufacturer</p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/Images/smaple.png" class="img img-responsive res-img">
      </div>
    </div>
  </section>
</div>