<div class="container">
  <div class="mar-padd">
  <div>
    <h2 class="text-center">Pricing</h2>
  </div>
  <div class="chooseyourtype">
    <div class="row">
      <div class="col-sm-6">
        <div class="type-card p-4">
          <div class="member-info">
            <h5>Buyer or in need of goods</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, provident?</p>
          </div>
          <div class="text-center">
            <button class="btn custom-btn">I am a Buyer</button>
            <!-- <a href="#buyer_table" class="btn btn-primary">I am a Buyer</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="type-card p-4">
          <div class="member-info">
            <h5>Sporting goods supplier or sub-contractor</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, provident?</p>
          </div>
          <div class="text-center">
            <button class="btn custom-btn">I am a Supplier</button>
          </div>
          
        </div>
      </div>
      <div class="col-sm-12">
        <div class="pricing-supplier-table mb-4" id="buyer_table">
            <div class="custom-table">
          <h2>Buyer</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="border_less"></th>
                <th>Individual</th>
                <th>Company</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Number of Users</th>
                <td>1</td>
                <td>Unlimited</td>
              </tr>
              <tr>
                <th>Search and Matching</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th>Global Directory Access</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th>See Full Supplier Details</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th>Tender Registration</th>
                <td>No</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th>Message to Suppliers</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td class="border_less"></td>
                <td><span class="d-block">Free</span><button class="btn btn-sm custom-btn">Get Started</button></td>
                <td><span class="d-block">$100/Month</span><button class="btn btn-sm custom-btn">Get Started</button></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="pricing-supplier-table">
            <div class="custom-table mb-5">
                <h2>Supplier</h2>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="border_less"></th>
                      <th>Basic</th>
                      <th>Professional</th>
                      <th>Enterprise</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Profile visibility of Buyers</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>Number of Users</th>
                      <td>2</td>
                      <td>5</td>
                      <td>Unlimited</td>
                    </tr>
                    <tr>
                        <th>Virtual Product Showroom</th>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>
                      </tr>
                    <tr>
                        <th>Access and Response to Tenders</th>
                        <td>No</td>
                        <td>2/Month</td>
                        <td>Unlimited</td>
                      </tr>
                    <tr>
                        <th>Search for Buyers</th>
                        <td>Limited</td>
                        <td>Yes</td>
                        <td>Yes</td>
                      </tr>
                    <tr>
                        <th>Contact Buyers</th>
                        <td>No</td>
                        <td>30/Month</td>
                        <td>60/Month</td>
                      </tr>
                    <tr>
                        <th>Messaging with Buyers</th>
                        <td>Limited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                      </tr>
                    <tr>
                        <th>Marketing Add-Ons</th>
                        <td>No</td>
                        <td>Yes</td>
                        <td>Yes</td>
                      </tr>
                    
                    <tr>
                      <td class="border_less"></td>
                      <td><span class="d-block">Free</span><button class="btn btn-sm custom-btn">Get Started</button></td>
                      <td><span class="d-block">$100/Month</span><button class="btn btn-sm custom-btn">Get Started</button></td>
                      <td><span class="d-block">$300/Month</span><button class="btn btn-sm custom-btn">Get Started</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>


    </div>
  </div>
</div>
</div>

<!-- </section> -->