<div class="container-fluid">
  <div class="rfqs-results">
    <section>
      <div class="opportunities">
        <div>
          <h3>New Opportunities</h3>
        </div>
        <div class="opportunity-rfq">

          <div id="demo" class="carousel slide">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqImage1.jfif" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>1 hour ago</p>
                          <p>Men's Polo Shirt</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqImage2.jfif" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>1 hour ago</p>
                          <p>Men's Sweater</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqimage3.jpg" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>2019-06-24</p>
                          <p>T-Shirts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqimage3.jpg" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>2019-06-24</p>
                          <p>T-Shirts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqImage1.jfif" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>1 hour ago</p>
                          <p>Men's Polo Shirt</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqImage2.jfif" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>1 hour ago</p>
                          <p>Men's Sweater</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqimage3.jpg" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>2019-06-24</p>
                          <p>T-Shirts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="buyers_card mb-3 p-3" (click)="onNavigateToRfqResponse()">
                      <div class="card-wrapper">
                        <div class="rfqs">
                          <img src="assets/Images/rfqimage3.jpg" alt="image" class="img-fluid">
                        </div>
                        <div class="text-center manfact_details_card">
                          <p>2019-06-24</p>
                          <p>T-Shirts</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>

        </div>
      </div>
    </section>
    <section>
      <div class="rfq-table">
        <table #dataTable class="display responsive no-wrap" style="width:100%">
          <thead>
            <tr>
              <th>RFQ ID</th>
              <th>RFQ Name</th>
              <th>RFQ Value</th>
              <th>Status</th>
              <th>Customer</th>
              <th>Due Date</th>
              <th>Time Remaining</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>BasketBalls</td>
              <td>70000</td>
              <td>Won</td>
              <td> thriveni </td>
              <td> 20/05/2019 </td>
              <td> 2 days </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Cricket balls</td>
              <td>2000</td>
              <td>Submitted</td>
              <td> rajesh </td>
              <td> 20/05/2019 </td>
              <td> 20days </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Need shoes</td>
              <td>50000</td>
              <td>Registered</td>
              <td> Anil </td>
              <td> 04/10/2019 </td>
              <td> 42 days </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Need shoes</td>
              <td>50000</td>
              <td>Lost</td>
              <td> Anil </td>
              <td> 04/10/2019 </td>
              <td> 42 days </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Need shoes</td>
              <td>50000</td>
              <td>Withdrawn</td>
              <td> Anil </td>
              <td> 04/10/2019 </td>
              <td> 42 days </td>
            </tr>

          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
