<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/seDashboard']" routerLinkActive="active-list-item">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/seBids']" routerLinkActive="active-list-item">Bids</a>
    <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/seQuotations']" routerLinkActive="active-list-item">Quatations</a>
    <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/seMyproducts']" routerLinkActive="active-list-item">My Products</a>
    <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['/seProfile']" routerLinkActive="active-list-item">Profile</a>
  </div>
</div>