@import "../../../custom_styles/variables";

.main-img {
  position: relative;

  .banner-image {
    background-image: url('../../../assets/img/women-shopping-online.jpg');

    .image-text-box {
      position: absolute;
      left: 60px;
      top: 140px;
    }
  }
}
.reponse_details {
  position: relative;
    top: -112px;
    .container-on-img {
      background-color: #ffffff;
      padding: 20px;
    
      .form-main-heading {
        .back-btn {
          border-radius: 20px;
          background-color: #ffffff;
          padding: 8px 16px;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    
          i {
            padding-right: 8px;
          }
        }
    
        .product_name {
          display: inline-block;
          padding-left: 16px;
        }
      }
    
      .manufact_card {
        box-shadow: $box-shadow;
        margin: 30px 0;
        padding: 25px;
    
        .rfq-details-header {
          margin: 10px 16px;
    
          .edit_icon {
            mat-slide-toggle {
              margin: 0 25px;
            }
    
            i {
              display: inline;
            }
          }
        }
    
        .attachments {
          .attachment_files {
            img {
              width: 221px;
              height: 220px;
            }
          }
        }
      }
    }
    
    .rfqs {
      height: 200px;
      width: 260px;
    
      .rfq-text {
        font-size: 14px;
        padding: 75px 16px 0;
    
        p {
          margin-bottom: 0;
        }
      }
    
      .rfq_footer {
        display: flex;
        justify-content: space-between;
        padding: 17px 10px;
    
        i {
          position: relative;
          padding: 4px;
    
          span {
            position: absolute;
            right: 1px;
            top: 2px;
            width: 7px;
            height: 7px;
            background-color: #f53737;
            border-radius: 50%;
          }
        }
    
        .inactive_icon {
          visibility: hidden;
        }
      }
    
      .rfq-timing {
        font-weight: 700;
      }
    
      .rfq-text-styles {
        padding-right: 90px;
      }
    
      .rfq-icon {
        font-size: 20px;
        color: #f53737;
      }
    
      .rfq-status {
        font-weight: 500;
      }
    
    }  

    .margin-styles {
      margin-top: 120px;
      margin-bottom: 45px;
    }
    
    .rfq_response {
    
      .example-headers-align .mat-expansion-panel-header-title,
      .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    
        p {
          margin-bottom: 0;
          color: rgba(0, 0, 0, .87);
        }
      }
    
      .example-headers-align .mat-expansion-panel-header-description {
        justify-content: flex-end;
        align-items: center;
    
        p {
          margin-bottom: 0;
          padding-right: 14px;
        }
    
      }
      .mat-expansion-panel-header.mat-expanded {
        background-image: $gradient_bg_color !important;
        color: #fff !important;
      }      
      mat-form-field {
        margin-right: 12px;
      }
    
      .user_info {
        p {
          display: inline-block;
          vertical-align: middle;
          padding-left: 5px;
          margin-bottom: 10px;
        }
      }
    
      .rfq_responselist {
        p {
          margin-bottom: 0;
          font-size: 13px;
          font-weight: 600;
        }
    
        small {
          font-size: 90%;
        }
    
        margin-left: 24px;
    
        .seller_response {
          margin: 15px 0px;
        }
    
        .seller_qna>div {
          margin: 5px 0;
    
          i {
            font-size: 18px;
          }
    
          .right_icon {
            color: #05cb05;
          }
    
          .cross_icon {
            color: red;
          }
    
          .response_options {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
            margin: 0px 12px;
          }
        }
      }
    
      .chatbox {
        margin-left: 30px;
    
        .attachment_icon {
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          width: 35px;
          height: 32px;
          padding: 4px;
        }
    
        mat-form-field {
          width: 100%;
    
        }
    
        .send_btn {
          button {
            border-radius: 25px;
            padding: 7px 22px;
            color: #fff;
            background-color: #57bf57;
          }
        }
    
    
      }
    }
}


::ng-deep .mat-form-field-infix {
  padding: 11px 14px !important;
  font-size: 17px !important;
}
