<div class="reponse_details">
  <section>
    <div class="container">
      <div class="container-on-img">
        <div class="">
          <div class="form-main-heading">
            <button type="button" class="btn btn-md back-btn" (click)="onBackToRfq();">
              <i class="fa fa-long-arrow-left"></i>Back</button>
            <div class="product_name">
              <h4>Men's Polo T-Shirt</h4>
            </div>
          </div>
          <div class="manufact_card">
            <div class="container-fluid">
              <div class="col-12">
                <div class="rfq-details-header">
                  <div class="row justify-content-between">
                    <div>
                      <h5>Men's Polo T-Shirt</h5>
                      <p>Best Blue</p>
                    </div>
                    <div class="rfq-reply-btn">
                      <button class="btn btn-sm">Reply</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <label for="">Product Group</label>
                      <p><strong>Shirts</strong></p>
                    </div>
                    <div>
                      <label for="">Product Details</label>
                      <p><strong>synthetic,double colored</strong></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Quantity:</label>
                        <p><strong>10,000</strong></p>
                      </div>
                      <div class="col-md-6">
                        <label for="">Target price per unit:</label>
                        <p><strong>7 USD</strong></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Incoterms</label>
                        <p><strong>-</strong></p>
                      </div>
                      <div class="col-md-6">
                        <label for="">Delivery Date:</label>
                        <p><strong>2019-05-31</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="attachments">
                    <div class="">
                      <h5>Attached files:</h5>
                    </div>
                    <div class="d-flex flex-wrap attachment_files">
                      <img src="assets/Images/rfqImage1.jfif" alt="image">
                      <img src="assets/Images/rfqImage1.jfif" alt="image">
                      <img src="assets/Images/rfqImage1.jfif" alt="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="rfq_response">
        <div class="row">
          <div class="col-12">
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
                  <mat-panel-description class="justify-content-start">
                    <p>Reply to RFQ</p>
                  </mat-panel-description>                  
                </mat-expansion-panel-header>
               
                <div class="">
                  <div class="box">
                    <div class="row">
                      <div class="col-md-6">
                        <h6>Product</h6>
                        <div class="product-content">
                          <p>Product keyword</p>
                        </div> 
                        <div>
                          <h6>Men's Polo shirt</h6>
                        </div>  
                      </div>
                      <div class="col-md-6">
                        <form>
                          <h6>Do you produce Product  "Men's polo shirt"?</h6>
                          <div class="radio-btns margin-top">
                            <input type="radio" name="radio-btn">Yes
                            <input class="margin" type="radio" name="radio-btn">No
                          </div> 
                          <div class="margin-top">
                            <textarea class="col-md-12" rows="4" cols="5">
                              Polo shirts is in our top 3 rpoducts
                            </textarea>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div> 
                  <div class="box">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="specifications">
                          <h6>Specifications</h6>
                          <div>
                            <p class="spec-text">Product details</p>
                            <h6>Organic cotton See techpack attached</h6>
                          </div>
                          <div class="spec-sub-text">
                            <div class="spec-content">
                              <i class="fal fa-image"></i>
                              <p>12944 woo dcdced v8mds</p>
                            </div>
                            <div class="spec-content">
                              <i class="fal fa-image"></i>
                              <p>12944 woo dcdced v8mds</p>
                            </div>
                            <div class="spec-content">
                              <i class="fal fa-image"></i>
                              <p>mens ijdmas dnsopx hdxo</p>
                            </div>
                          </div>
                        </div>  
                      </div>
                      <div class="col-md-6">
                        <form>
                          <h6>Are you able to produce to the specifications?</h6>
                          <div class="radio-btns margin-top">
                            <input type="radio" name="radio-btn">Yes
                            <input class="margin" type="radio" name="radio-btn">No
                          </div> 
                          <div class="margin-top">
                            <textarea class="col-md-12" rows="4" cols="5">                              
                              Polo shirts is in our top 3 rpoducts
                            </textarea>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div> 
                  <div class="box">
                    <div class="row">
                      <div class="col-md-6">
                        <h6>Requirements</h6>
                        <div class="req-content">
                          <p class="spec-text">Quantity</p>
                          <h6>1000 pieces</h6>
                        </div>  
                        <div class="req-content">
                          <p class="spec-text">Target per price unit</p>
                          <h6>7 USD</h6>
                        </div>  
                        <div class="req-content">
                          <p class="spec-text">Delivery date(YYYY-MM-DD)</p>
                          <h6>2019-06-25</h6>
                        </div>  
                      </div>
                      <div class="col-md-6">
                        <h6>Do you meet the buyer's requirements?</h6>
                        <form>  
                          <div>
                            <div class="margin-top">
                              <label>Quantity</label>
                              <input class="req-margin" type="radio" name="radio1">Yes
                              <input class="req-margin" type="radio" name="radio1">No
                            </div>
                            <div class="margin-top">
                              <label>Target per price unit</label>
                              <input class="req-margin" type="radio" name="radio2">Yes
                              <input class="req-margin" type="radio" name="radio2">No
                            </div>
                            <div class="margin-top">
                              <label>Delivery date</label>
                              <input class="req-margin" type="radio" name="radio3">Yes
                              <input class="req-margin" type="radio" name="radio3">No
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>