<section>
  <div class="container-fluid dashboard-main">
    <!-- <p>it's fine</p> -->
    <div class="container-fluid filters">
      <div class="row">
        <div class="col-md-4">
          <div class="select">
            <!-- <label for="">Filters</label> -->
            <mat-form-field>
              <mat-select class="" placeholder="Filter">
                <mat-option>Day</mat-option>
                <mat-option>Last Week</mat-option>
                <mat-option>Last Month</mat-option>
                <mat-option>Last 90 Days</mat-option>
                <mat-option>Last 6 Months</mat-option>
                <mat-option>Custom</mat-option>
              </mat-select>
            </mat-form-field>  
          </div>
        </div>
        <div class="col-md-3">
          <div class="from-datepicker">

              <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="From Date" [(ngModel)]="inputStartDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="to-datepicker">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="To Date" [(ngModel)]="inputEndDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="search-btn">
            <button class="btn btn-md btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-3">
        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex chart-no">
                  <h4>2376</h4>
                  <i class="fa fa-angle-down red" aria-hidden="true"></i>
                </div>
                <h6>Order Received</h6>
              </div>
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex chart-no">
                  <h4>3670</h4>
                  <i class="fa fa-angle-up blue" aria-hidden="true"></i>
                </div>
                <h6>Tax Deduction</h6>
              </div>
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex chart-no">
                  <h4>1562</h4>
                  <i class="fa fa-angle-up blue" aria-hidden="true"></i>
                </div>
                <h6>Revenue status</h6>
              </div>
              <div>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex chart-no">
                  <h4>35%</h4>
                  <i class="fa fa-angle-down red" aria-hidden="true"></i>
                </div>
                <h6>Yearly Sales</h6>
              </div>
              <div>
                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="margin">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p><b> RFQ Activities List</b></p>
              <div id="chartdiv"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <p class="act-heading"><b> Recent Activities</b></p>
              <div>
                <ul class="activities"> 
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">S</span>
                      <p><span class="com-name">SONY</span>Suzuki Only Needs You</p>
                    </div>
                  </li>
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">N</span>
                      <p><span class="com-name">Novane Durso</span>server not found,connection problem.</p>
                    </div>
                  </li> 
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">L</span>
                      <p><span class="com-name">Luke Etheridge</span>send email notifications of subscriptions</p>
                    </div>
                  </li>
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">C</span>
                      <p><span class="com-name">Cosmin Capitanu</span>required change logs activity reports</p>
                    </div>
                  </li>
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">M</span>
                      <p><span class="com-name">Moneyas Olina</span>strategic partnership plan</p>
                    </div>
                  </li>
                  <li class="act-list">
                    <div class="list-info">
                      <span class="label">A</span>
                      <p><span class="com-name">Auurso Novane</span>server not found, connection problem.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <!-- <div class="sales-report">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="sales-text">
                <p><b> Sales Report</b></p>
              </div>
              <div class="container-fluid">
                <div class="row bg-blue">
                  <div class="col-md-6">
                    <h4>November 2017</h4>
                    <p>Sales Report</p>
                  </div>
                  <div class="col-md-6"><h3>$6,000</h3></div>
                </div>  
              </div>
              <div class="sales-report-table">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Price</th>
                    </tr>  
                  </thead>
                  <tbody>
                    <tr>
                      <td>Item #1 Name</td>
                      <td><span class="background bg1">Unavailable</span></td>
                      <td>NOV 3</td>
                      <td>$12</td>
                    </tr>
                    <tr>
                      <td>Item #2 Name</td>
                      <td><span class="background bg2">New</span></td>
                      <td>NOV 4</td>
                      <td>$45</td>
                    </tr>
                    <tr>
                      <td>Item #3 Name</td>
                      <td><span class="background bg1">New</span></td>
                      <td>NOV 5</td>
                      <td>-$23</td>
                    </tr>
                    <tr>
                      <td>Item #4 Name</td>
                      <td><span class="background bg3">Unavailable</span></td>
                      <td>NOV 6</td>
                      <td>$18</td>
                    </tr>
                    <tr>
                      <td>Item #5 Name</td>
                      <td><span class="background bg1">Used</span></td>
                      <td>NOV 7</td>
                      <td>$25</td>
                    </tr>
                    <tr>
                      <td>Item #6 Name</td>
                      <td><span class="background bg4">Used</span></td>
                      <td>NOV 8</td>
                      <td>-$18</td>
                    </tr>
                    <tr>
                      <td>Item #7 Name</td>
                      <td><span class="background bg5">Old</span></td>
                      <td>NOV 9</td>
                      <td>$22</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="sales-bottom-link">
                <a href="">Check all the sales</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
