<div class="">
  <section class="main-img">

    <div class="head-part">
      <div class="banner-image">
        <div class="transparent-layer">
          <div class="image-text-box">
            <h1>Manage Your RFQ's</h1>
            <h5>Create new RFQ’s through our 2 min process, publish them for our registered sellers to respond. We
              have millions of sellers who can respond within seconds.</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="reponse_details">
  <section>
    <div class="container">
      <div class="container-on-img">
        <div class="col-sm-12">
          <div class="form-main-heading">
            <button type="button" class="btn btn-md back-btn" (click)="back();">
              <i class="fa fa-long-arrow-left"></i>Back</button>
            <div class="product_name">
              <h4>Volley Ball - Medium (Bulk)</h4>
            </div>
          </div>
          <div class="manufact_card">
            <div class="container-fluid">
              <div class="col-12">
                <div class="rfq-details-header">
                  <div class="row justify-content-between">
                    <div>
                      <h5>Volley Ball - Medium(Bulk)</h5>
                    </div>
                    <div class="edit_icon">
                      <mat-slide-toggle [color]="color">Active</mat-slide-toggle>
                      <i class="fa fa-pencil"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <label for="">Product Group</label>
                      <p><strong>Balls</strong></p>
                    </div>
                    <div>
                      <label for="">Product Details</label>
                      <p><strong>synthetic,double colored</strong></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Quantity:</label>
                        <p><strong>10,000</strong></p>
                      </div>
                      <div class="col-md-6">
                        <label for="">Target price per unit:</label>
                        <p><strong>7 USD</strong></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Incoterms</label>
                        <p><strong>-</strong></p>
                      </div>
                      <div class="col-md-6">
                        <label for="">Delivery Date:</label>
                        <p><strong>2019-05-31</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <p>RFQ is visible to all suppliers who produce <strong>Tops & Shirts</strong> in
                    <strong>India</strong>
                  </p>
                </div>
                <div class="col">
                  <div class="attachments">
                    <div class="">
                      <h5>Attached files:</h5>
                    </div>
                    <div class="d-flex flex-wrap attachment_files">
                      <img src="assets/img/Basketball_6.jpg" alt="">
                      <img src="assets/img/Basketball_6.jpg" alt="">
                      <img src="assets/img/Basketball_6.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="rfq_response">
        <div class="row">
          <div class="col-12">
            <div>
              <h5>RFQ Replies:</h5>
            </div>
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'60px'"  [collapsedHeight]="'50px'">
                  <mat-panel-description class="justify-content-start">
                    <p>Best Blue Mode GmBH</p>
                  </mat-panel-description>
                  <mat-panel-description class="rfq-response-timings">
                    <p>2019-02-28</p>
                    <p>17:20</p><br>
                  </mat-panel-description>
                  <mat-panel-description>
                    <strong class="text-success">90% Match</strong>
                  </mat-panel-description>
                  <mat-panel-description>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>account_circle</mat-icon>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        <span>View Profile</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Discard</span>
                      </button>
                    </mat-menu>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <div class="user_info">
                    <mat-icon>account_circle</mat-icon>
                    <p>Ganesh</p>
                  </div>
                  <div class="rfq_responselist">
                    <div class="seller_response">
                      <p>Dear Karin Lehmann, from Best Blue Mode GmBH</p>
                      <small>We are following the request quotation for Men's Polo Shirt</small>
                    </div>
                    <div class="seller_qna">
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we produce Product Men's Polo Shirt.</p>
                          <small>we produce on average 100000 pieces per year</small>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-times cross_icon"></i>
                        <div class="response_options">
                          <p><span class="text-danger">No</span>,we cannot fulfill all specifications.</p>
                          <small>Need to source correct fabrics</small>
                        </div>
                      </div>

                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we agree to the price.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can produce the requested quantity.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can make the delivery date.</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div>
                    <div class="d-flex flex-nowrap align-items-center chatbox">
                      <div class="attachment_icon">
                        <i class="material-icons">attachment</i>
                      </div>
                      <mat-form-field>
                        <input matInput type="text">
                      </mat-form-field>
                      <div class="send_btn">
                        <button class="btn btn-md">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'60px'"  [collapsedHeight]="'50px'">
                  <mat-panel-description class="justify-content-start">
                    <p>Eastman Exports Global Colthing Pvt Ltd</p>
                  </mat-panel-description>
                  <mat-panel-description class="rfq-response-timings">
                    <p>2019-02-28</p>
                    <p>17:20</p>
                  </mat-panel-description>
                  <mat-panel-description>
                    <strong class="text-warning">60% Match</strong>
                  </mat-panel-description>
                  <mat-panel-description>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>account_circle</mat-icon>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        <span>View Profile</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Discard</span>
                      </button>
                    </mat-menu>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <div class="user_info">
                    <mat-icon>account_circle</mat-icon>
                    <p>Ganesh</p>
                  </div>
                  <div class="rfq_responselist">
                    <div class="seller_response">
                      <p>Dear Karin Lehmann, from Best Blue Mode GmBH</p>
                      <small>We are following the request quotation for Men's Polo Shirt</small>
                    </div>
                    <div class="seller_qna">
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we produce Product Men's Polo Shirt.</p>
                          <small>we produce on average 100000 pieces per year</small>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-times cross_icon"></i>
                        <div class="response_options">
                          <p><span class="text-danger">No</span>,we cannot fulfill all specifications.</p>
                          <small>Need to source correct fabrics</small>
                        </div>
                      </div>

                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we agree to the price.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can produce the requested quantity.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can make the delivery date.</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div>
                    <div class="d-flex flex-nowrap align-items-center chatbox">
                      <div class="attachment_icon">
                        <i class="material-icons">attachment</i>
                      </div>
                      <mat-form-field>
                        <input matInput type="text">
                      </mat-form-field>
                      <div class="send_btn">
                        <button class="btn btn-md">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'60px'"  [collapsedHeight]="'50px'">
                  <mat-panel-description class="justify-content-start">
                    <p>Best Blue Mode GmBH</p>
                  </mat-panel-description>

                  <mat-panel-description class="rfq-response-timings">
                    <p>2019-02-28</p>
                    <p>17:20</p>
                  </mat-panel-description>
                  <mat-panel-description>
                    <strong class="text-danger">30% Match</strong>
                  </mat-panel-description>
                  <mat-panel-description>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>account_circle</mat-icon>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        <span>View Profile</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Discard</span>
                      </button>
                    </mat-menu>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <div class="user_info">
                    <mat-icon>account_circle</mat-icon>
                    <p>Ganesh</p>
                  </div>
                  <div class="rfq_responselist">
                    <div class="seller_response">
                      <p>Dear Karin Lehmann, from Best Blue Mode GmBH</p>
                      <small>We are following the request quotation for Men's Polo Shirt</small>
                    </div>
                    <div class="seller_qna">
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we produce Product Men's Polo Shirt.</p>
                          <small>we produce on average 100000 pieces per year</small>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-times cross_icon"></i>
                        <div class="response_options">
                          <p><span class="text-danger">No</span>,we cannot fulfill all specifications.</p>
                          <small>Need to source correct fabrics</small>
                        </div>
                      </div>

                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we agree to the price.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can produce the requested quantity.</p>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-check right_icon"></i>
                        <div class="response_options">
                          <p><span class="text-success">Yes</span>,we can make the delivery date.</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div>
                    <div class="d-flex flex-nowrap align-items-center chatbox">
                      <div class="attachment_icon">
                        <i class="material-icons">attachment</i>
                      </div>
                      <mat-form-field>
                        <input matInput type="text">
                      </mat-form-field>
                      <div class="send_btn">
                        <button class="btn btn-md">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
