<p>
  seller-profile works!
</p>
<section class="p-3 d-none" id="dashboard">
  <div class="container-fluid">
    <div class="box">
      <div class="box-header">
        <div class="header-body">

        </div>
      </div>
      <div class="box-body">
        <div class="col-sm-6 box-body-logo">
          <p>Logo</p>
        </div>
        <!-- <div class="box-body-main-content row"> -->
        <div class="col-sm-6 box-body-main-content">
          <h3>Best Way Fashion</h3>
          <p>India<br>Ready-made garment manufacturer</p>
        </div>
        <!-- <div class="add-btns col-sm-6">
            <button class="btn btn-md rmi-btn">+ Request more info</button>
            <button class="btn btn-md bookmark-btn">+ Bookmarks</button>
          </div> -->
        <!-- </div> -->
        <div class="box-body-sub-content">
          <div class="sub-content">
            <p>Key Facts</p>
            <form>
              <div class="form-content">
                <label>Target Group</label>
                <span>Men,Women</span>
              </div>
              <div class="form-content">
                <label>Product Group</label>
                <span>Jackets & Coats, Pullover & Sweatshirts, Tops & Shirts</span>
              </div>
              <div class="form-content">
                <label>Segment Group</label>
                <span>Casual</span>
              </div>
            </form>
          </div>
          <div class="sub-content">
            <p>Top 3 Products</p>
            <label class="product-label">polo</label>
            <label class="product-label">T-shirt</label>
            <label class="product-label">Sweatshirt</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box">
    <div class="row">
      <nav class="navbar">
        <ul class="nav nav-pills custom-navbar">
          <li class="nav-item">
            <a class="nav-link isActive" href="#summary" (click)="onTabClick('0')" data-toggle="pill">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" (click)="onTabClick('1')" data-toggle="pill">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products" (click)="onTabClick('2')" data-toggle="pill">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" (click)="onTabClick('3')" data-toggle="pill">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#compliance" (click)="onTabClick('4')" data-toggle="pill">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#locations" (click)="onTabClick('5')" data-toggle="pill">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#showroom" (click)="onTabClick('6')" data-toggle="pill">Showroom</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<section>
  <div class="box">
    <p>Profile Strength:{{profileStrength}}</p>
    <div>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
            <mat-panel-description class="justify-content-start">
              <p>Steps to reach the next level</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              <div class="col-md-3">
                <p>---Showroom</p>
              </div>
              <div class="col-md-3">
                <p>---Companu logo</p>
              </div>
              <div class="col-md-3">
                <p>---Compliance</p>
              </div>
              <div class="col-md-3">
                <p>---Export countries</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </div>
</section>

<section>
  <div id="summary" class="tab-pane fade active show" *ngIf="selectedTab === '0' ">
    <p>summary works</p>
  </div>
  <div id="about" *ngIf="selectedTab === '1' " class="tab-pane fade ">
    <p>about works</p>
  </div>
  <div id="products" *ngIf="selectedTab === '2' " class="tab-pane fade ">
    <p>products works</p>
  </div>
  <div id="services" *ngIf="selectedTab === '3' " class="tab-pane fade ">
    <p>services works</p>
  </div>
  <div id="compliance" *ngIf="selectedTab === '4' " class="tab-pane fade ">
    <p>Compliance works</p>
  </div>
  <div id="locations" *ngIf="selectedTab === '5' " class="tab-pane fade ">
    <p>locations works</p>
  </div>
  <div id="showroom" *ngIf="selectedTab === '6' " class="tab-pane fade ">
    <p>showroom works</p>
  </div>
</section>