@import "../../../custom_styles/variables";

.my-box {
  box-shadow: $box-shadow;
}
.box-header {
  background-color: rgb(117, 117, 117);
  height: 120px;
  position: relative;
  .header-body {
    img {
      width: 100%;
      height: 120px;
      border: 1px solid #ddd;
    }
    .banner-edit {
      position: absolute;
      top: 0px;
      right: 0px;
      background: transparent;
      color: #fff;
    }
    input[type="file"] {
      position: absolute;
      left: -6;
      opacity: 0;
    }
  }
}

.company-logo {
  img {
    position: absolute;
    top: 68px;
    left: 70px;
    background-color: #fff;
    color: #ffffff;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px;
  }
  .logo-edit {
    position: absolute;
    top: 72px;
    left: 137px;
    padding: 2px 6px;
    background: transparent;
    color: #fff;
  }
  input[type="file"] {
    position: absolute;
    left: -6;
    opacity: 0;
  }
}

.box-body-main-content {
  margin-top: 20px;
  margin-left: 210px;
  font-size: 12px;
  margin-top: 7px;
}

.box-body-sub-content {
  display: inline-flex;
  margin-bottom: 12px;
  .sub-content {
    font-size: 12px;
    table {
      margin-left: 105px;
      th {
        text-align: justify;
        text-align-last: right;
      }
      tr {
        .left {
          text-align: justify;
          text-align-last: right;
        }
        .right {
          text-align: justify;
          text-align-last: left;
          span {
            margin-left: 27px;
          }
        }
      }
    }
    .sub-content-margin {
      margin-left: 70px;
    }

    .product-label {
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: $box-shadow;
      padding: 5px 16px 5px 16px;
      margin-right: 16px;
      text-align: center;
    }
  }
}
.product-btns {
  margin: 10px;
}

ul {
  font-size: 13px;
  li {
    a {
      color: #000000;
    }
  }
}
.isActive {
  border-bottom: 3px solid rgb(233, 55, 55);
  // color: rgb(233, 55, 55);
  background-color: #ffffff;
}
.expansion-panel-btns {
  button {
    background-color: #fff;
    border: none;
  }
}

/*......summary tab styles.......*/
.tab-content {
  margin: 0 17px;
  .box-styles {
    box-shadow: $box-shadow;
    padding: 12px 14px 13px 14px;
    margin-top: 16px;
    .box-styles-header {
      margin-bottom: 13px;
      p {
        font-size: 13px;
        font-weight: 600;
        display: inline;
      }
      .view-btn {
        box-shadow: $box-shadow;
        background-color: #ffffff;
        border-radius: 25px;
        float: right;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  .products-group-body {
    justify-content: center;
    display: flex;
    align-items: center;
    .loader {
      border: 18px solid #f3f3f3;
      border-radius: 50%;
      border-top: 18px solid #9ae6a0;
      border-right: 18px solid #12803c;
      border-bottom: 18px solid #12803c;
      border-left: 18px solid #429c65;
      width: 120px;
      height: 120px;
    }
    .lists {
      font-size: 12px;
      ul {
        list-style-type: none;
        span {
          display: inline-block;
          padding-right: 8px;
        }
        div[class^="list"] {
          width: 10px;
          height: 10px;
        }
        .list-type1 {
          background-color: rgb(18, 128, 60);
        }
        .list-type2 {
          background-color: rgb(66, 156, 101);
        }
        .list-type3 {
          background-color: rgb(154, 230, 160);
        }
      }
    }
  }
  .showroom-body {
    box-shadow: $box-shadow;
    margin: 20px;
    background-color: #c6e0c6;
    padding: 9px;
    text-align: center;
    button {
      border-radius: 25px;
      font-size: 13px;
    }
  }
  .order-size-body {
    .order-size-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .order-category {
        padding: 9px;
        // box-shadow: $box-shadow;
        margin-bottom: 15px;
        margin-right: 15px;
        // text-align: center;
        // flex-basis: 130px;
        p {
          font-size: 13px;
          // font-weight: bolder;
          margin-bottom: 0;
          label {
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
      .order-quantity {
        font-size: 12px;
        // p {
        //     margin-bottom: 0;
        // }
      }
      .order-category1 {
        padding: 9px;
        box-shadow: $box-shadow;
        margin-bottom: 15px;
        margin-right: 15px;
        text-align: center;
        flex-basis: 130px;
        p {
          font-size: 13px;
          font-weight: bolder;
          margin-bottom: 0;
          label {
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
      .order-quantity1 {
        font-size: 12px;
        text-align: center;
        p {
          margin-bottom: 0;
        }
      }
      .testing-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
        margin: 15px 94px;
      }
      
  }
}
}

/* Progress bar colors */
.one,
.two,
.three {
  position: absolute;
  margin-top: -12px;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}
.one {
  left: 25%;
}
.two {
  left: 50%;
}
.three {
  left: 75%;
}
.primary-color {
  background-color: #007bff;
}
.success-color {
  background-color: #5cb85c;
}
.danger-color {
  background-color: #d9534f;
}
.warning-color {
  background-color: #f0ad4e;
}
.info-color {
  background-color: #5bc0de;
}
.no-color {
  background-color: inherit;
}
.progress-bar-success{
  background-color: #5cb85c !important;
}

/* end Progress bar colors */
