<section class="p-3" id="dashboard">
  <div class="container-fluid">
    <div class="box">
      <div class="box-header">
        <div class="header-body">

        </div>
      </div>
      <div class="box-body">
        <div class="col-sm-6 box-body-logo">
          <p>Logo</p>
        </div>
        <!-- <div class="box-body-main-content row"> -->
        <div class="col-sm-6 box-body-main-content">
          <h3>Best Way Fashion</h3>
          <p>India<br>Ready-made garment manufacturer</p>
        </div>
        <!-- <div class="add-btns col-sm-6">
            <button class="btn btn-md rmi-btn">+ Request more info</button>
            <button class="btn btn-md bookmark-btn">+ Bookmarks</button>
          </div> -->
        <!-- </div> -->
        <div class="box-body-sub-content">
          <div class="sub-content">
            <table>
              <th>Key Facts</th>
              <tbody>
                <tr>
                  <td class="left">Target Group</td>
                  <td class="right">Men,Women</td>
                </tr>
                <tr>
                  <td class="left">Product Group</td>
                  <td class="right">Jackets & Coats, Pullover & Sweatshirts, Tops & Shirts</td>
                </tr>
                <tr>
                  <td class="left">Segment Group</td>
                  <td class="right">Casual</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="sub-content">
            <p>Top 3 Products</p>
            <label class="product-label">polo</label>
            <label class="product-label">T-shirt</label>
            <label class="product-label">Sweatshirt</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box-style">
    <div class="row">
      <nav class="navbar">
        <ul class="nav nav-pills custom-navbar">
          <li class="nav-item">
            <a class="nav-link " href="#summary" [ngClass]="{'isActive':selectedTab =='0'}" (click)="onTabClick('0')"
              data-toggle="pill">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" [ngClass]="{'isActive':selectedTab =='1'}" (click)="onTabClick('1')"
              data-toggle="pill">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products" [ngClass]="{'isActive':selectedTab =='2'}" (click)="onTabClick('2')"
              data-toggle="pill">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" [ngClass]="{'isActive':selectedTab =='3'}" (click)="onTabClick('3')"
              data-toggle="pill">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#compliance" [ngClass]="{'isActive':selectedTab =='4'}" (click)="onTabClick('4')"
              data-toggle="pill">Compliance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#locations" [ngClass]="{'isActive':selectedTab =='5'}" (click)="onTabClick('5')"
              data-toggle="pill">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#showroom" (click)="onTabClick('6')" [ngClass]="{'isActive':selectedTab =='6'}"
              data-toggle="pill">Showroom</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<section>
  <div class="box-style">
    <p>Profile Strength:{{profileStrength}}</p>
    <div>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
            <mat-panel-description class="justify-content-start">
              <p>Steps to reach the next level</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              <div class="col-md-3">
                <button (click)="onTabClick('6')">---Showroom</button>
              </div>
              <div class="col-md-3">
                <button (click)="onTabClick('6')">---Company logo</button>
              </div>
              <div class="col-md-3">
                <button (click)="onTabClick('6')">---Compliance</button>
              </div>
              <div class="col-md-3">
                <button (click)="onTabClick('6')">---Export countries</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>

<section>
  <div class="tab-content">
    <div id="summary" class="tab-pane fade " [ngClass]="{'show':selectedTab =='0','active':selectedTab =='0'}">
      <!-- <p>summary works</p> -->
      <div class="row">
        <div class="col-md-6">
          <div class="product-box-style">
            <div class="product-group">
              <i class="fab fa-buffer"></i>
              <p>Product Groups</p>
              <button class="btn btn-md view-btn">View More</button>
            </div>
            <div class="product-group-body">
              <div class="loader"></div>
              <div class="lists">
                <ul>
                  <li><span>
                      <div class="list-type1"></div>
                    </span>Tops & T-shirts</li>
                  <li><span>
                      <div class="list-type2"></div>
                    </span>Pullover & Sweatshirts</li>
                  <li><span>
                      <div class="list-type3"></div>
                    </span>Jackets & Coats</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-style">
            <div class="showroom-content">
              <div class="showroom-text">
                <i class="fal fa-camera-alt"></i>
                <p>Showroom</p>
              </div>
              <div class="fill-showroom">
                <button class="btn btn-md btn-success">Fill Showroom</button>
              </div>
            </div>
          </div>
          <div class="box-style">
            <div class="order-size-content">
              <div class="order-size-text">
                <i class="fal fa-tshirt"></i>
                <p>Order size</p>
                <button class="btn btn-md view-btn">View More</button>
              </div>
              <div class="order-size-body">
                <p><b>501-1000</b></p>
                <p>Minimum order quantity</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="tab-pane fade " [ngClass]="{'show':selectedTab =='1','active':selectedTab =='1'}">
      <!-- <p>about works</p> -->
      <app-about></app-about>
    </div>
    <div id="products" class="tab-pane fade " [ngClass]="{'show':selectedTab =='2','active':selectedTab =='2'}">
      <p>products works</p>
    </div>
    <div id="services" class="tab-pane fade " [ngClass]="{'show':selectedTab =='3','active':selectedTab =='3'}">
      <p>services works</p>
    </div>
    <div id="compliance" class="tab-pane fade " [ngClass]="{'show':selectedTab =='4','active':selectedTab =='4'}">
      <p>Compliance works</p>
    </div>
    <div id="locations" class="tab-pane fade " [ngClass]="{'show':selectedTab =='5','active':selectedTab =='5'}">
      <p>locations works</p>
    </div>
    <div id="showroom" class="tab-pane fade " [ngClass]="{'show':selectedTab =='6','active':selectedTab =='6'}">
      <div class="container">
        <h3>Increase your business, Isobel Macphee</h3>
        <small>Choose type of post</small>
        <div class="d-flex justify-content-between box-style">
          Add products to your showroom
          <button class="btn add-product-btn" (click)="onShowAddProduct()">Add Product</button>
        </div>


      </div>
    </div>
  </div>

</section>