.box-header {
    background-color: rgb(117, 117, 117);
    height: 80px;   
    position: relative;
}

.box-body-logo{
    position: absolute;
    top: 40px;
    left: 120px;
    background-color: rgb(158, 149, 149);
    color: #ffffff;
    width: 90px;
    height: 90px;
    padding: 26px;
    font-weight: 500;
    font-size: 18px;
    // display: inline-flex;
}

.box-body-main-content {
    margin-left: 210px;
    font-size: 12px;

}


.box-body-sub-content {
    display: inline-flex;
    .sub-content {
        font-size: 12px;
        p {
            
            color: #c3c0c0;
        }
        .form-content {
            text-align: right;
        }
        .product-label {
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.12);
            padding: 5px 16px 5px 16px;
            margin-right: 16px;
            text-align: center;
        }
    }
}
.product-btns {
    margin: 10px
}


    
    ul {
        padding-left: 10px;    
        li {
            padding: 4px;
            // margin-left: 20px;
            a {
                color: #000000;
            }    
        }
    }    
    .isActive {
        border-bottom: 3px solid rgb(233, 55, 55);
        color: rgb(233, 55, 55);
    }
    .add-product-btn{
        background-color: rgb(233, 55, 55);
        border-radius: 10px;
        margin: 20px;
    }
    .add-product{
        padding: 10px 10px 15px 12px;
    }
