<div class="about">
  <div [ngSwitch]="addDescriptionData">
    <div *ngSwitchCase="'no-discription'">
      <div class="about-description">
        <p><b>Description</b></p>
        <div class="description-content">
          <p>Describe your entity to prospective brands</p>
          <button class="btn btn-md" (click)="addDiscription()">
            + Add description
          </button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'add-discription'">
      <div class="box-style">
        <p><b>Edit "Description"</b></p>
        <div class="edit-details">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="4"
              placeholder="Your Discription should give the reader a clear understanding your company"
            ></textarea>
            <div class="status-btns">
              <button class="btn btn-md btn-cancel">Cancel</button>
              <button
                class="btn btn-md btn-success"
                (click)="displayDiscription()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'show-discription'">
      <div class="about-description">
        <p><b>Description</b></p>
        <div class="show-content">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="keyfactsSwitch">
    <div *ngSwitchCase="'add-keyfacts'">
      <div *ngSwitchCase="'add-keyfacts'">
        <div class="about-keyfacts">
          <div class="keyfacts-content">
            <p><b>Key Facts</b></p>
            <button class="btn btn-sm" (click)="editKeyFacts()">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
          <div class="row keyfacts-body">
            <div class="col-md-4 keyfacts-body-text">
              <p><b>N/A</b></p>
              <p>Employees</p>
            </div>
            <div class="col-md-4 keyfacts-body-text">
              <p><b>N/A</b></p>
              <p>Revenue / Year</p>
            </div>
            <div class="col-md-4 keyfacts-body-text">
              <p><b>N/A</b></p>
              <p>Pieces / Year</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'edit-keyfacts'">
      <div class="about-description">
        <p><b>Edit "Links and Websites"</b></p>
        <div class="form-group">
          <label>Employees</label>
          <input
            type="text"
            class="form-control"
            placeholder="Number of people working for the entaire organization"
          />
        </div>
        <div class="form-group">
          <label>Revenue / Year</label>
          <input type="text" class="form-control" placeholder="in $" />
        </div>
        <div class="form-group">
          <label>Price / Year</label>
          <input
            type="text"
            class="form-control"
            placeholder="Units produced per year"
          />
        </div>
        <div class="status-btns">
          <button class="btn btn-md btn-cancel">Cancel</button>
          <button class="btn btn-md btn-success" (click)="displayKeyFacts()">
            Save
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'display-keyfacts'">
      <div class="about-keyfacts">
        <div class="keyfacts-content">
          <p><b>Key Facts</b></p>
          <button class="btn btn-sm" (click)="editKeyFacts()">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="row keyfacts-body">
          <div class="col-md-4 keyfacts-body-text">
            <p><b>50</b></p>
            <p>Employees</p>
          </div>
          <div class="col-md-4 keyfacts-body-text">
            <p><b>50</b></p>
            <p>Revenue / Year</p>
          </div>
          <div class="col-md-4 keyfacts-body-text">
            <p><b>50</b></p>
            <p>Pieces / Year</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-ref-customers" *ngIf="!isShowData">
    <div class="ref-customers-content">
      <p><b>Reference Customers</b></p>
      <p>This section is visible to buyers</p>
      <button class="btn btn-sm"><i class="fa fa-pencil"></i></button>
    </div>
    <div class="row ref-customers-body">
      <p class="col-md-3 body-text"><b>Cater Industries</b></p>
      <p class="col-md-3 body-text"><b>Monter International</b></p>
    </div>
  </div>
  <div *ngIf="isShowData">
    <p>Reference customers data</p>
  </div>
  <div class="about-headquarter" *ngIf="!isShowData">
    <p>Headquarter</p>
    <div class="headquarter-content">
      <p>
        This section will be filled automatically with informaton from the
        locations tab
      </p>
    </div>
    <p class="text">Not filled</p>
  </div>
  <div *ngIf="isShowData">
    <p>Headquarter data</p>
  </div>
  <div class="about-contact" *ngIf="!isShowData">
    <div class="contact-content">
      <p><b>Contacts</b></p>
      <div class="contact-edit-btn">
        <button class="btn btn-md">
          <i class="fa fa-eye"></i>Edit Visibility
        </button>
      </div>
      <div>
        <div class="contact-img">
          <img src="../../../assets/img/user2-160x160.jpg" />
          <p>Isobel Macphee</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isShowData">
    <p>contact data</p>
  </div>
  <div [ngSwitch]="addExportCountriesSwitch">
    <div *ngSwitchCase="'not-filled'">
      <p>Not filled</p>
    </div>
    <div class="about-description" *ngSwitchCase="'addExportCountries'">
      <p><b>Main Export Countries</b></p>
      <div class="description-content">
        <p>Select countries that you regularly export to</p>
        <button class="btn btn-md" (click)="addExportCountries()">
          + Add Main export countries
        </button>
      </div>
    </div>
    <div class="about-description export-countries" *ngSwitchCase="'editEC'">
      <p>Edit "Main Export Countries"</p>
      <div class="search">
        <div>
          <input type="" placeholder="search" />
        </div>
        <div class="countries-list">
          <div class="row">
            <mat-checkbox class="col-md-3">Afghanistan</mat-checkbox>
            <mat-checkbox class="col-md-3">Argentina</mat-checkbox>
            <mat-checkbox class="col-md-3">America</mat-checkbox>
            <mat-checkbox class="col-md-3">America</mat-checkbox>
          </div>
          <div class="row">
            <mat-checkbox class="col-md-3">Bhutan</mat-checkbox>
            <mat-checkbox class="col-md-3">Brazil</mat-checkbox>
            <mat-checkbox class="col-md-3">Brunei</mat-checkbox>
            <mat-checkbox class="col-md-3">Brunei</mat-checkbox>
          </div>
          <div class="row">
            <mat-checkbox class="col-md-3">Cameroon</mat-checkbox>
            <mat-checkbox class="col-md-3">Canada</mat-checkbox>
            <mat-checkbox class="col-md-3">China</mat-checkbox>
            <mat-checkbox class="col-md-3">China</mat-checkbox>
          </div>
        </div>
        <div></div>
        <div class="status-btns">
          <button class="btn btn-md btn-cancel">Cancel</button>
          <button class="btn btn-md btn-success" (click)="displayCountries()">
            Save
          </button>
        </div>
      </div>
    </div>

    <div [ngSwitch]="countriesList" class="selected-countries">
      <div class="about-ref-customers" *ngSwitchCase="'countries-list'">
        <div class="ref-customers-content">
          <p>Main Export countries</p>
          <button class="btn btn-sm edit-btn">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div>
          <p>Afghanistan , Argentina, Brazil, Canada</p>
        </div>
      </div>
      <div *ngSwitchCase="'no_list'">
        <p>No Countries List</p>
      </div>
    </div>
  </div>
  <div class="mb-35">
    <div [ngSwitch]="addLinksandwebsiteSwitch">
      <div *ngSwitchCase="'linksandwebsite'">
        <div class="about-description">
          <p><b>Links and Websites</b></p>
          <div>
            Link Description:
            <p *ngIf="'link ==null' ? '' : link"></p>
            {{ link }}<br />
            Website URL :
            <p *ngIf="'link ==null' ? '' : link"></p>
            {{ url }}
          </div>
          <div class="description-content">
            <p>
              Add links to your websites, videos and media channels that showcase
              your company
            </p>
            <button class="btn btn-md" (click)="addLinksAndWebsite()">
              + Add Links
            </button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'add-Linksandweb'">
        <div class="about-description">
          <p><b>Add "Links and Websites"</b></p>
          <form [formGroup]="aboutLinksForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="linkDescription"
                placeholder="Link Description"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="url"
                placeholder="URL(http://www.example.com)"
              />
            </div>
            <div class="status-btns">
              <button
                class="btn btn-md btn-cancel"
                (click)="displayLinksandWebsite()"
              >
                Cancel
              </button>
              <button
                class="btn btn-md btn-success"
                type="button"
                (click)="onDisplayLinks()"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>
