/*---------about tab styles-------*/
@import "../../../custom_styles/variables";
.about {
  // margin: 10px;
  font-size: 13px;
  .about-description {
    padding: 10px;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    // margin: 7px;
    input:focus,
    button:focus {
      @extend %custom-input-types;
    }
    .description-content {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
      margin: 20px;
      background-color: #fff1f8;
      padding: 9px;
      text-align: center;
      p {
        margin-bottom: 0px;
      }
      button {
        border-radius: 25px;
        background-color: #ff5544;
        color: #ffffff;
        font-weight: 600;
        font-size: 11px;
      }
    }
    .show-content {
      padding: 10px 5px;
    }

    .status-btns {
      text-align: right;
      button {
        border-radius: 25px;
        margin: 0 6px;
        font-size: 13px;
        padding: 4px 16px;
      }
      .btn-cancel {
        background-color: #fff;
        border: 1px solid gray;
      }
    }
  }

  .edit-details {
    .status-btns {
      text-align: right;
      button {
        border-radius: 25px;
        margin: 6px;
        font-size: 13px;
      }
      .btn-cancel {
        background-color: #fff;
        border: 2px solid gray;
      }
    }
  }

  .about-keyfacts {
    padding: 10px;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    // margin: 10px 7px 7px 7px;
    .keyfacts-content {
      button {
        background-color: #ff5544;
        color: #ffffff;
        // height: 30px;
        // width: 30px;
        border-radius: 50%;
        float: right;
        margin-top: -36px;
        text-align: center;
        // font-size: 0px;
        i {
          font-size: 13px;
        }
      }
    }
    .keyfacts-body-text {
      text-align: center;
      p {
        margin-bottom: 0px;
      }
    }
  }

  .about-ref-customers {
    padding: 10px;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    // margin: 10px 7px 7px 7px;
    .ref-customers-content {
      p {
        margin-bottom: 0px;
        font-size: 13px;
      }

      button {
        background-color: #ff5544;
        color: #ffffff;
        // height: 30px;
        // width: 30px;
        border-radius: 50%;
        float: right;
        margin-top: -36px;
        text-align: center;
        // font-size: 0px;
        i {
          font-size: 13px;
        }
      }
    }
    .ref-customers-body {
      margin-top: 15px;

      p {
        font-size: 14px;
      }
    }
  }

  .about-headquarter {
    padding: 10px;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    // margin: 10px 7px 7px 7px;

    .text {
      text-align: center;
    }
    .headquarter-content {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
      margin: 20px;
      background-color: #fff1f8;
      padding: 9px;
      text-align: center;
      p {
        margin-bottom: 0px;
      }
    }
  }

  .about-contact {
    padding: 10px;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    // margin: 10px 7px 7px 7px;

    .contact-edit-btn {
      button {
        background-color: #ff5544;
        color: #ffffff;
        border-radius: 25px;
        border: none;
        float: right;
        margin-top: -35px;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        i {
          vertical-align: middle;
          font-size: 13px;
          padding-right: 8px;
          margin-bottom: 4px;
        }
      }
    }

    .contact-img {
      display: flex;
      img {
        width: 60px;
        height: 60px;
        border-radius: 25px;
      }
    }
  }

  .export-countries {
    .search {
      border: 1px solid #eaeaea;
      padding: 20px;

      input {
        width: 100%;
        border-radius: 25px;
        padding: 8px;
        border-color: #eae8e8 !important;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
        &:focus {
          outline: none;
          // border:1px solid rgb(219, 117, 117);
          // border-radius: 25px;
        }
      }

      .countries-list {
        margin: 14px;
        // ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
        //     background-color: #ec3d11!important;
        // }
      }
      .status-btns {
        text-align: right;
        button {
          border-radius: 25px;
          margin: 6px;
          font-size: 13px;
        }
        .btn-cancel {
          background-color: #fff;
          border: 2px solid gray;
        }
      }
    }
  }
  .selected-countries {
    .edit-btn {
      font-size: 0px;
      margin-top: -16px !important;
    }
  }
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #ec3d11 !important;
}
// ::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
//     background-color: #ec3d11!important;
// }
// ::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
//     background: pink!important;
//   }
