<!-- <div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure want to delete this node?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onConfirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">No</button>
  </div>
</div> -->
<div class="product-modal">
  <div class="modal-close-btn">
    <!-- <button type="button" class="close" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</button> -->
    <button type="button" class="close" (click)="onCancel()">&times;</button>
  </div>
  <div class="product-wrapper">
    <div class="visibility">
      <div class="col-8">
        <div class="product-images">
          <p class="products-heading">Add Product to your Showroom</p>
          <small>Visible in your profile, news feeds of your followers, and inspiration boards for buyers
            worldwide.</small>
          <div class="guide-section">
            <a href="">
              <i class="material-icons">remove_red_eye</i><span>Great Showroom Guide</span>
            </a>
            <a href=""><i class="material-icons">remove_red_eye</i><span>Great Picture Guide</span></a>
          </div>
          <div class="product-images-upload">
            <div class="d-flex flex-wrap">
              <div class="upload-img main-picture" *ngIf="imageUpload_0 ==='' else temp">
                <button class="btn product-add-btn">
                  <img alt="" [src]="imageUpload_0">
                  <div>
                    <p class="add-icon"><i class="fa fa-plus"></i>Add Picture</p>
                    <small>up to 12 pictures</small>
                    <input type="file" name="myfile" (change)="onImageUpload($event, 0)" />
                  </div>
                </button>
              </div>
              <ng-template #temp>
              <div class="img-uploaded-container">
                <div class="uploaded-img">
                    <div>
                    <img [src]="imageUpload_0" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center crud-icons">
                  <div>
                    <i class="material-icons">
                      info
                    </i>
                  </div>
                  <div>
                    <i class="material-icons">
                      edit
                    </i>
                    <i class="material-icons">
                      delete
                    </i>
                  </div>
                </div>
              </div>
              </ng-template>
              <div class="upload-img front-view-box">
                <button class="btn product-add-btn">
                  <img alt="" [src]="imageUpload_1">
                  <div>
                    <p class="add-icon"><i class="fa fa-tshirt"></i></p>
                    <small>Front View</small>
                    <input type="file" name="myfile" (change)="onImageUpload($event, 1)" />
                  </div>
                </button>
              </div>
              <div class="upload-img side-view-box">
                <button class="btn product-add-btn">
                  <img alt="" [src]="imageUpload_2">
                  <div>
                    <p class="add-icon"><i class="fa fa-tshirt"></i></p>
                    <small>Side View</small>
                    <input type="file" name="myfile" (change)="onImageUpload($event, 2)" />
                  </div>
                </button>
              </div>
              <div class="upload-img detailed-view-box">
                <button class="btn product-add-btn">
                  <img alt="" [src]="imageUpload_3">
                  <div>
                    <p class="add-icon"><i class="fa fa-tshirt"></i></p>
                    <small>Detail View</small>
                    <input type="file" name="myfile" (change)="onImageUpload($event, 3)" />
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div class="product-form">
          <form>
            <div class="product-descr">
              <p>Showroom Post</p>
              <input type="text" class="form-control" placeholder="Product Title" [(ngModel)]="productTitle" name="productTitle">
              <input type="text" class="form-control" placeholder="Description of the Product"  [(ngModel)]="productDesc" name="productDesc">
            </div>
            <div class="target-group">
              <p>Target Group<sup>*</sup></p>
              <div class="radio-btns margin-top d-flex">
                <div class="flex-fill">
                  <div class="radio">
                    <input type="radio" name="radio-btn1" id="baby" value="">
                    <label for="baby">Baby</label>
                  </div>
                  <div>
                    <input type="radio" name="radio-btn1" id="men" value="">
                    <label for="men">Men</label>
                  </div>
                </div>
                <div class="flex-fill">
                  <div>
                    <input type="radio" name="radio-btn1" id="kids" value="">
                    <label for="kids">Kids</label>
                  </div>
                  <div>
                    <input type="radio" name="radio-btn1" id="women" value="">
                    <label for="women">Women</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-category">
              <p>Segment <sup>*</sup></p>
              <ul class="list-unstyled radio-btns d-flex flex-wrap">
                <li *ngFor="let segment of segmentedGroups" class="flex-fill">
                  <input type="radio" name="radio-btn" (change)="onCheckSegmentGroup(segment)"
                    id="{{segment.categoryId}}">
                  <label for="{{segment.categoryId}}">{{segment.categoryName}}</label>
                </li>
              </ul>
            </div>
            <div class="product-group form-group">
              <p>Product Group <sup>*</sup></p>
              <select class="form-control">
                <option *ngFor="let productGroup of productGroups">{{productGroup.subCategoryName}}</option>
              </select>
            </div>
            <div class="modal-btns">
              <div class="col-12 d-flex px-0">
                <button class="btn btn-cancel flex-grow-1" (click)="onCancel()">Preview Post</button>
              </div>
              <div class="d-flex my-3">
                <button class="btn btn-cancel flex-fill mr-1" (click)="onCancel()">Cancel</button>
                <button class="btn btn-publish flex-fill ml-1" (click)="onCloseBtn()">Publish</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>