@import "../../../custom_styles/variables";

.product-modal {
  padding: 0.8rem 1.1rem;
  position: relative;

  .modal-close-btn {
    position: absolute;
    top: -15px;
    right: -16px;
    height: 27px;
    width: 27px;
    background: #fff;
    border-radius: 50%;
    padding: 0px 6px;
  }

  .product-wrapper {
    .visibility {
      display: flex;
      @include tablet {
        // display: inline-block;
        // flex-direction: row;
        overflow: scroll;
      }
      @include mobile {
        flex-direction: row;
        overflow-x: scroll;
      }
    }
  }

  .product-images {
    p {
      font-size: 12px;
      margin-bottom: -6px;
      font-weight: bold;
    }
    small {
      font-size: 77%;
    }
    .guide-section {
      a {
        color: red;
        font-size: 11px;
        font-weight: 600;
        text-decoration: none;
        padding-right: 15px;
        i {
          font-size: 17px;
          padding-right: 3px;
        }
        span {
          display: inline-block;
          vertical-align: super;
        }
      }
    }
    .product-images-upload {
      // image-uploaded view
      .img-uploaded-container {
        min-height: 155px;
        width: 165px;
        height: 155px;
        margin: 7px 15px 0px 0;
        // border: 1px solid;
        .uploaded-img {
          height: 129px;
          width: 165px;
        }
        img {
          height: 125px;
          width: 165px;
          max-width: 165px;
        }
        .crud-icons {
          padding: 0 5px;
          box-shadow: $box-shadow;
          i {
            font-size: 16px;
          }
        }
      }
      // end of image-uploaded view
      .upload-img {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: 5px 0;
        margin-right: 15px;
        position: relative;
        .product-add-btn {
          border: 1px dotted gray;
          background-color: white;
          height: 155px;
          width: 165px;
          padding: 0;
          img {
            height: 155px;
            width: 165px;
            max-width: 165px;
          }
          .add-icon {
            color: red;
            font-size: 11px;
            font-weight: 500;
            i {
              display: block;
              font-size: 30px;
            }
          }
        }
      }
      .main-picture {
        border-bottom: 3px solid $green-btn;
      }
      div[class$="box"] {
        color: #f2f2f2;
      }

      .upload-img input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
  .product-form {
    margin-left: 6px;
    p {
      margin-bottom: 0;
    }
    form {
      font-size: 13px;
      p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      input[type="text"] {
        margin: 0px 0px 10px 0px;
        width: 100%;
        @include tablet {
          min-width: 100%;
        }
        @include mobile {
          min-width: 100%;
        }
      }
      .product-descr {
        input:focus {
          @extend %custom-input-types;
        }
        ::-webkit-input-placeholder {
          font-size: 11px !important;
        }

        :-moz-placeholder {
          font-size: 11px !important;
        }
      }
      .target-group {
        .radio-btns {
          div:first-child {
            margin-right: 0px;
          }
        }
      }
      .product-category {
        label {
          text-transform: capitalize;
        }
      }
      .product-group {
        .form-control {
          font-size: 0.7rem;
        }
      }
      .modal-btns {
        margin-top: 20px;
        .btn-cancel {
          padding: 2px 30px;
        }
        .btn-publish {
          @extend %colored-btn;
          padding: 2px 30px;
        }
      }
    }
  }
}
