<div class="signin-body">
  <h4>Login</h4>
  <div class="container">
    <mat-card class="form-card mat-elevation-z5 m-auto">
      <form [formGroup]="loginForm" class="example-form">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail" [formControl]="loginForm.controls['email']">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail" placeholder="Password" [formControl]="loginForm.controls['password']">
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width"> -->
        <button mat-raised-button class="join-btn" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        <!-- </mat-form-field> -->

      </form>
    </mat-card>
  </div>
</div>