.signin-body {
  // left: 58%;
  // top: 20%;
  margin-top: 50px;
  // margin-left: 150px;
  margin-bottom: 120px;
}

h4 {
  // text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-card {
  width: 500px;
}
