<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side-bg px-0">
      <app-seller-sidebar></app-seller-sidebar>
    </div>
    <div class="col-sm-10">
      <section class="p-3" id="dashboard">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Performance</h4>
                  <ul>
                    <li>Your products appreared in 1234 searches last week</li>
                    <li>438 searches viewed your products</li>
                    <li>2 of your prospects became customers last week</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="['/preformance']">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                  <h4 class="text-center">My Profile</h4>
                  <ul>
                    <li>Your profile is 80% complete</li>
                    <li>You had 151 visitors to your profile this week</li>
                   
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/seProfile'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Messages</h4>
                  <ul>
                    <li>You have 15 <a src="">new messages</a></li>
                    <li>You have 8 messages tagged to <a src="">follow up</a></li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/messages'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Prospects</h4>
                  <ul>
                    <li><a src="">Vumero</a> recently added you to their favourites</li>
                    <li>Your appear on the favourites of 15 prospects </li>
                    <li>2 of your prospects became <a src="">customers</a> last week</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/prospects'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Opportunities</h4>
                  <ul>
                    <li>$15.2M dollars in <a src="">Needs</a> have been posted in your categories</li>
                    <li>There are 5 open <a src="">Tenders</a> of intrested to you</li>
                    <li>You have 3 <a src="">Bids</a> right now</li>
                    <li>2 <a src="">Tenders</a> of intrested to you close this week</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/opportunities'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Customers</h4>
                  <ul>
                    <li>5 of your past customers registered a <a>need</a> last week</li>
                    <li>Primitive sports is your best customer</li>
                    <li>You have 3 <a src="">Bids</a> right now</li>
                    <li>5 of your customers have not registered need in over 12 months</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/customers'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Saved Searches</h4>
                  <ul>
                    <li>Customer seeding apperial in Mumbai</li>
                    <li>Customers india seeking Wearables</li>
                    <li>Manifacturers selling Wearables</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/searches'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My History</h4>
                  <ul>
                    <li>Need responded</li>
                    <li>Customers connected</li>
                    <li>Contacts made</li>
                  </ul>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/history'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
             <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4 class="text-center">My Products</h4>
                  <img src="assets/img/Basketball_6.jpg" alt="">
                  <img src="assets/img/Cricket_4.jpg" alt="">
                  <img src="assets/img/Cricket_8.jpg" alt="">
                  <img src="assets/img/Football_2.jpg" alt="">
                  <!-- <p>We are providing a quality products in the sports field.</p> -->
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['/seMyproducts']" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>




          </div>
        </div>

      </section>
    </div>
  </div>
</div>