<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side-bg px-0">
      <app-seller-sidebar></app-seller-sidebar>
    </div>
    <div class="col-sm-10">
      <section class="p-3" id="dashboard">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h4>Sales & Revenues</h4>
                  <p>Revenue of Financial - $12000</p>
                  <p>Products - 5000</p>
                  <p>Total cost of sales - $731</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-green">
                <div class="inner">
                  <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                  <h4>Top Bids</h4>
                  <p>Ganesh bought Cricket Kits for $1.25M IPL 2019</p>
                  <p>Rajesh spend $1500 Football jerseys for FIFA world cup, Australia</p>
                  <p></p>
                  <p></p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer" [routerLink]="'/seBids'">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h4>My Products</h4>
                  <img src="assets/img/Basketball_6.jpg" alt="">
                  <img src="assets/img/Cricket_4.jpg" alt="">
                  <img src="assets/img/Cricket_8.jpg" alt="">
                  <img src="assets/img/Football_2.jpg" alt="">
                  <p>We are providing a quality products in the sports field.</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['/seMyproducts']" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="small-box bg-red">
                <div class="inner">
                  <h4>Request Quotes</h4>
                  <p>>>Thriveni offers $1.25M for Cricket Kits for IPL 2019</p>
                  <p>>>Kiran offers $1500 for Football jerseys for FIFA world cup, Australia</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-violet">
                <div class="inner">
                  <h4>My Profile</h4>
                  <p>Company Name: <b>Primitive Sports pvt Ltd</b></p>
                  <p>Company Description: Primitive Sports was founded to meet this fundamental requirement
                    and allow sport to grow and strengthen our community. </p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-blue">
                <div id="demo" class="carousel slide" data-ride="carousel">
                  <p class="text-center"><b>Trending Products</b></p>
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                  </ul>

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/Images/sports/Basketball_6.jpg " alt="Los Angeles" width="400"
                        height="400">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/Images/sports/Cricket_1.jpg" alt="Chicago" width="400" height="400">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/Images/sports/Football_2.jpg" alt="New York" width="400" height="400">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>




          </div>
        </div>

      </section>
    </div>
  </div>
</div>