<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side-bg px-0">
      <app-seller-sidebar></app-seller-sidebar>
    </div>
    <div class="col-sm-10">
      <section class="p-3" id="dashboard">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
                <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3>Sales & Revenues</h3>
                      <p>Revenue of Financial - $12000</p>
                      <p>Products - 5000</p>
                      <p>Total cost of sales - $731</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="small-box bg-green">
                <div class="inner">
                  <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                  <h3>Top Bids</h3>
                  <p>Ganesh bought Cricket Kits for $1.25M IPL 2019</p>
                  <p>Rajesh spend $1500 Football jerseys for FIFA world cup, Australia</p>
                  <p></p>
                  <p></p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-yellow">
                    <div class="inner">
                      <h3>My Products</h3>
                      <img src="assets/img/Basketball_6.jpg" alt="">
                      <img src="assets/img/Cricket_4.jpg" alt="">
                      <img src="assets/img/Cricket_8.jpg" alt="">
                      <img src="assets/img/Football_2.jpg" alt="">
                      <p>We are providing a quality products in the sports field.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <div class="small-box bg-red">
                    <div class="inner">
                      <h3>Request Quotes</h3>
                      <p>>>Thriveni offers $1.25M for Cricket Kits for IPL 2019</p>
                      <p>>>Kiran offers $1500 for Football jerseys for FIFA world cup, Australia</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-violet">
                    <div class="inner">
                      <h3>My Profile</h3>
                      <p>Company Name: <b>Primitive Sports pvt Ltd</b></p>
                      <p>Company Description: Primitive Sports was founded to meet this fundamental requirement 
                        and allow sport to grow and strengthen our community. </p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-blue">
                    <div class="inner">
                      <h3>Trending Products</h3>
                      <p></p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>


