<!-- <div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure want to delete this node?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onConfirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">No</button>
  </div>
</div> -->
<div class="product-modal">
  <div class="product-wrapper">
    <div class="d-flex">
      <div class="product-images">
        <p class="products-heading">Add Product to your Showroom</p>
        <small>Visible in your profile, news feeds of your followers, and inspiration boards for buyers
          worldwide.</small>
        <div class="guide-section">
          <a href="">
            <i class="material-icons">remove_red_eye</i><span>Great Showroom Guide</span>
          </a>
          <a href=""><i class="material-icons">remove_red_eye</i><span>Great Picture Guide</span></a>
        </div>
        <div class="product-images-upload">
          <div class="d-flex flex-wrap">
            <div class="upload-img main-picture">
              <button class="btn product-add-btn">
                  <p class="add-icon"><i class="fa fa-plus"></i>Add Picture</p>
                  <small>up to 12 pictures</small>
              </button>
              <input type="file" name="myfile" />
            </div>        
            <div class="upload-img front-view-box">
              <button class="btn product-add-btn">
                  <p class="add-icon"><i class="fa fa-tshirt"></i></p>
                  <small>Front View</small>
              </button>
              <input type="file" name="myfile" />
            </div>        
          </div>
        </div>
       
      </div>
      <div class="product-form">
        <form>
          <div>
            <p><b>Showroom Post</b></p>
            <input type="text" placeholder="Product Title" />
            <input type="text" placeholder="Description of the Product" />
          </div>
          <div class="target-group">
            <p><b>Target Group<sup>*</sup></b></p>
            <div class="radio-btns margin-top d-flex">
              <div>
                <div class="radio">
                  <input type="radio" name="radio-btn1" id="1" value="">
                  <label for="1">Baby</label>
                </div>
                <div>
                  <input type="radio" name="radio-btn1" id="2" value="">
                  <label for="2">Men</label>
                </div>
              </div>  
              <div class="radio-margin">
                <div>
                  <input type="radio" name="radio-btn1" id="3" value="">
                  <label for="3">Kids</label>
                </div>
                <div>
                  <input type="radio" name="radio-btn1" id="4" value="">
                  <label for="4">Women</label>
                </div>
              </div>  
            </div>
          </div>
          <div>
            <p><b>Segment <sup>*</sup></b></p>
            <ul class="list-unstyled">
              <li *ngFor="let segment of segmentedGroups">
                <input type="radio" name="radio-btn" (change)="onCheckSegmentGroup(segment)">{{segment.categoryName}}
              </li>
            </ul>
          </div>
          <div class="product-group">
            <p><b>Product Group <sup>*</sup></b></p>
            <select>
              <option *ngFor="let productGroup of productGroups">{{productGroup.subCategoryName}}</option>
            </select>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>