@import "../../../custom_styles/variables";

.product-modal {
  padding: 0.8rem 1.1rem;
  .product-images {
    p {
      font-size: 12px;
      margin-bottom: -6px;
      font-weight: bold;
    }
    small {
      font-size: 77%;
    }
    .guide-section {
      a {
        color: red;
        font-size: 11px;
        font-weight: 600;
        text-decoration: none;
        padding-right: 15px;
        i {
          font-size: 17px;
          padding-right: 3px;
        }
        span {
          display: inline-block;
          vertical-align: super;
        }
      }
    }
    .product-images-upload {
      .upload-img {
        position: relative;
        overflow: hidden;
        display: inline-block;
        .product-add-btn {
          border: 1px dotted gray;
          background-color: white;
          padding: 50px 35px;
          .add-icon {
            color: red;
            font-size: 11px;
            font-weight: 500;
            i {
              display: block;
              font-size: 30px;
            }
          }
        }
      }
      .main-picture {
        border-bottom: 3px solid $green-btn;
        padding: 5px 0;
      }

      .upload-img input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
  .product-form {
    margin-left: 6px;
    form {
      font-size: 13px;
      input[type=text] {
        margin: 0px 0px 10px 0px;
        width: 100%;
      }
      [type="radio"]:checked+label:after,
      [type="radio"]:not(:checked)+label:after {
        content: '';
        background: #ed5324;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }  
      .target-group {
        .radio-margin {
          margin-left: 88px;
        }
      }
      .product-group {
        select {
          width: 100%;
        }
      }
    }  
  }
}
