@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./custom_styles/variables";

/* You can add global styles to this file, and also import other style files */
a{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'lato',Roboto, "Helvetica Neue", sans-serif;padding-top: 60px; }
.input-form{
    margin: 15px;
}

.mat-elevation-z5{
    position: relative;
    z-index: 2;
}


/* Admin styles */
.side-bg {
    background-color: #222d32;
}

.bg-color{
    background-color: #ecf0f5;
    padding: 0px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }
}   


.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.join-btn {
    background-image: linear-gradient(45deg, #a2088e 0%, #ce354e 35%, #f2581d 100%);
    background-color: #152331;
    border-radius: 30px;
    margin: 0 15px;
    &:hover {
        box-shadow: 0px 4px 10px #f2581d;
    }
    span{
        color: #fff;
    }
   
}
