$gradient_bg_color: linear-gradient(45deg, #a2088e 0%, #ce354e 35%, #f2581d 100%);

$box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);

$pink-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);

$text-color: #262626;

$p-letter-spacing: 1px;

$red-btn: #ff5544;

$green-btn: #57bf57;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

%tick-img {
  background-image: url("../../assets/img/TICK.png");
  background-repeat: no-repeat;
  padding-left: 34px;
}

%header-styles {
  content: "";
  background-color: #e0090d;
  color: #e0090d;
  width: 50px;
  height: 3px;
  display: block;
  // padding: 20px;
  margin: auto;
}

%h1-styles {
  font-size: 50px;
  color: #fff;
  letter-spacing: 3.3px;
  font-weight: 700;
}

%h-styles {
  font-size: 34px;
  letter-spacing: 4.5px;
  line-height: 58.2px;
}

%btn-styles {
  color: #fff;
  background-image: $gradient_bg_color;
  @include border-radius(30px);
}

%p-styles {
  color: $text-color;
  font-size: 20px;
  letter-spacing: $p-letter-spacing;
}

%list-p-styles {
  color: $text-color;
  font-size: 17px;
  letter-spacing: $p-letter-spacing;
  font-weight: 400;
  padding-bottom: 10px;
}

%colored-btn {
  background-color: #57bf57;
  color: #ffffff;
  border-radius: 26px;
  //padding: 4px 21px 7px 21px;
  font-weight: 600;
  font-size: 11px;
}

.btn-cancel {
  border: 1px solid;
  border-radius: 20px;
  background-color: white;
  border-radius: 26px;
  font-weight: 600;
  font-size: 11px;
}

.box-style {
  box-shadow: $box-shadow;
  padding: 10px;
  margin: 16px 0px;
}

.pink-box-style {
  box-shadow: $pink-box-shadow;
  background-color: pink;
  padding: 10px;
}

// Custom textarea,input boxes
%custom-input-types {
  outline: none !important;
  box-shadow: none;
  border: 1px solid #ed5324;
}
// End of Custom textarea,input boxes

// Custom Radio Buttons
.radio-btns {
  div:first-child {
    margin-right: 120px;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #ed5324;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// End of Custom Radio Buttons

// Media Queries for desktop
$for-desktop: 1200px;

@mixin desktop {
  @media screen and (max-width: #{$for-desktop}) {
    @content;
  }
}
// Media Queries for Tablet
$for-tab: 991px;

@mixin tablet {
  @media screen and (max-width: #{$for-tab}) {
    @content;
  }
}
// Media Queries for Mobile
$for-mobile: 768px;

@mixin mobile {
  @media screen and (max-width: #{$for-mobile}) {
    @content;
  }
}
