<div class="head-part">
  <div class="banner-image">
    <div class="transparent-layer">
      <div class="image-text-box">
        <h1 class="sizeh1">
          The world’s sourcing network <br />
          for the Sports industry.
        </h1>
        <h5 class="sizeh5">For B2B professionals worldwide</h5>
        <button class="btn btn-lg signup-btn" (click)="signup()">
          Sign-up free
        </button>
      </div>
    </div>
  </div>
  <!-- <div>
        <button class="btn our_members-btn">Our Members</button>
    </div> -->
</div>
<div class="container-fluid">
  <section class="buyer-manufacturers">
    <div class="row">
      <div class="text-center bm-head">
        <h2>PEROGON is the digital sourcing network for the Sports industry</h2>
        <p class="bm-para">
          The platform helps buyers and sporting goods suppliers to gain global
          market transparency and to manage their business relationships more
          efficiently
        </p>
      </div>
      <div class="col-sm-6 bm-list-items">
        <h2>Buyer</h2>
        <hr />
        <div class="list-para">
          <p>Access to a global database of verified sports good suppliers</p>
          <p>Industry specific search, matching and filter functions</p>
          <p>Digital supplier showrooms and standarized quotations requests</p>
          <p>Intuitive usage and secured information</p>
        </div>
        <div class="text-center">
          <button class="btn signup-btn" (click)="signup()">
            Sign-up free
          </button>
        </div>
      </div>
      <div class="col-sm-6 bm-list-items">
        <h2>Supplier</h2>
        <hr />
        <div class="list-para">
          <p>Access to a global database of verified sports good suppliers</p>
          <p>Industry specific search, matching and filter functions</p>
          <p>Digital supplier showrooms and standarized quotations requests</p>
          <p>Intuitive usage and secured information</p>
        </div>
        <div class="text-center">
          <button class="btn signup-btn" (click)="signup()">
            Sign-up free
          </button>
        </div>
      </div>
    </div>
  </section>


  <div class="trending_products" [hidden]="false">
    <div class="container">
      <h2>Categories</h2>
      <hr />
      <div class="row d-flex" *ngFor="let item of outerArray; let i = index">
        <div class="col-md-4 py-2" *ngFor="let categories of item;let j=index">
          <div class="category_box">
            <a href="#{{ categories.categoryId }}" data-toggle="collapse" aria-expanded="true"
              (click)="onCollapsible(categories,i,j)">
              <div class="buyers_card mb-3 p-3">
                <div class="card-wrapper">
                  <div class="rfqs">
                    <img [src]="categories.categoryImage" alt="" />
                  </div>
                  <div class="text-center manfact_details_card">
                    <p>{{ categories.categoryName }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div *ngIf="mobileWidth && innerRowIndex === j && rowIndex === i">
            <div *ngIf="mobileWidth" class="sub-category-container">
              <div class="col py-2 order-md-last collapse fade" id="{{ currentCategoryObj.categoryId }}">
                <div class="d-flex flex-nowrap justify-content-space sub-category-items">
                  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide" *ngFor="let subcategories of currentCategoryObj.subCategory">
                      <div class="buyers_card mb-3 p-3 mt-1">
                        <div class="card-wrapper">
                          <div class="rfqs">
                            <img [src]="subcategories.subCategoryImage" alt="Compression Gear" />
                          </div>
                          <div class="text-center manfact_details_card">
                            <p>{{ subcategories.subCategoryName }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="rowIndex === i" class="sub-category-container" [hidden]="mobileWidth">
          <div class="col py-2 order-md-last collapse fade" id="{{ currentCategoryObj.categoryId }}">
            <div class="d-flex flex-nowrap justify-content-space sub-category-items">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem class="slide" *ngFor="let subcategories of currentCategoryObj.subCategory">
                  <div class="buyers_card mb-3 p-3 mt-1">
                    <div class="card-wrapper">
                      <div class="rfqs">
                        <img [src]="subcategories.subCategoryImage" alt="Compression Gear" />
                      </div>
                      <div class="text-center manfact_details_card">
                        <p>{{ subcategories.subCategoryName }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" [hidden]="true">
    <div class="row" *ngFor="let item of outerArray">
      <div *ngFor="let categories of item">
        {{ categories.categoryName }}
        <div *ngFor="let subcategories of categories.subCategory" class="row">
          {{ subcategories.subCategoryName }}
        </div>
      </div>
    </div>
  </div>

  <section class="support">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-3">
          <div class="box-part text-center">
            <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
            <div class="title">
              <h4>Customer Service</h4>
            </div>
            <div class="text text-justify">
              <span>If you need help while shopping, feel free to contact us.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-3">
          <div class="box-part text-center">
            <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
            <div class="title">
              <h4>60,000 products</h4>
            </div>
            <div class="text text-justify">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
                decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-3">
          <div class="box-part text-center">
            <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
            <div class="title">
              <h4>Verified ID</h4>
            </div>
            <div class="text text-justify">
              <span>We aim to build a trusted community by giving you more info
                when you're deciding who to host or stay with.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>