@import "../../custom_styles/variables";

h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

.box-border{
    border: 1px solid #ddd;
}
.mar-top{
    margin-top: 20px;
}
.mar-bottom-30{
    margin-bottom: 30px;
}


/*------------------------------------*\
  #BANNER-SECTION
\*------------------------------------*/


.banner-image {
            background-image: url('../../assets/Images/background.JPG');
}
/*------------------------------------*\
  #BUYER_MANUFACTURERS-SECTION
\*------------------------------------*/

.buyer-manufacturers{
    margin: 80px 0;
    .bm-head {
        h2 {
            @extend %h-styles;
        }
        p {
            font-size: 20px;
            line-height: 1.85;
            letter-spacing: 1.2px;
            text-align: center;
            color: #262626;
            margin-bottom: 30px;
        }
    }
    .bm-list-items {
        h2 {
            @extend %h-styles; 
        }
        
        .list-para {
            margin-bottom: 30px;
            p {
                @extend %list-p-styles;
                @extend %tick-img;
            }
        }
        .signup-btn {
            @extend %btn-styles;
            padding: 6px 26px;
        }
    }
}

// .list-para p {
//     margin-bottom: 0;
//     &::before {
//         content: f00c;
//     }
    
// }


/*------------------------------------*\
  #TRENDING-SECTION
\*------------------------------------*/

.trending_products {
    margin: 2rem 0;
        h2 {
            @extend %h-styles; 
            margin-bottom: 24px;
        }
    .buyers_card {
        box-shadow: $box-shadow;
        // transition: 0.3s all ease;
        .card-wrapper {
            .rfqs {
                img{
                    display: block;
                    margin: 0 auto;
                    width:160px;
                    height:160px;
                }
            }
            .manfact_details_card {
                width: 150px;
                margin: auto;
                .ratings {
                    color: yellow;
                }
                p {
                    margin-bottom: 0.2rem;
                }
                .units {
                    background-color: #939393;
                    color: #fff;
                    padding: 5px 10px;
                }
            }
        }
    }
}


/*------------------------------------*\
  #TENDERS-SECTION
\*------------------------------------*/

.tenders {
    margin: 2rem 0;
    h2 {
        @extend %h-styles; 
        margin-bottom: 24px;
    }
    .tenders_card {
        box-shadow: $box-shadow;
        &:hover {
            box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
            transition: 0.3s all ease;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 160px;
            height: 160px;
        }
    }
}

/* Trending section */

// .col-centered {
//     float: none;
//     margin: 0 auto;
// }

// .card {
//     font-size: 1em;
//     overflow: hidden;
//     padding: 0;
//     border: none;
//     border-radius: .28571429rem;
//     box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
// }

// .card-block {
//     font-size: 1em;
//     position: relative;
//     margin: 0;
//     padding: 1em;
//     border: none;
//     border-top: 1px solid rgba(34, 36, 38, .1);
//     box-shadow: none;
// }

// .card-img-top {
//     display: block;
//     width: 100%;
//     height: auto;
// }

// .card-title {
//     font-size: 1.28571429em;
//     font-weight: 700;
//     line-height: 1.2857em;
// }

// .card-text {
//     clear: both;
//     margin-top: .5em;
//     color: rgba(0, 0, 0, .68);
// }

// .card-footer {
//     font-size: 1em;
//     position: static;
//     top: 0;
//     left: 0;
//     max-width: 100%;
//     padding: .75em 1em;
//     color: rgba(0, 0, 0, .4);
//     border-top: 1px solid rgba(0, 0, 0, .05) !important;
//     background: #fff;
// }

// .card-inverse .btn {
//     border: 1px solid rgba(0, 0, 0, .05);
// }

// .profile {
//     position: absolute;
//     top: -12px;
//     display: inline-block;
//     overflow: hidden;
//     box-sizing: border-box;
//     width: 25px;
//     height: 25px;
//     margin: 0;
//     border: 1px solid #fff;
//     border-radius: 50%;
// }

// .profile-avatar {
//     display: block;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
// }

// .profile-inline {
//     position: relative;
//     top: 0;
//     display: inline-block;
// }

// .profile-inline ~ .card-title {
//     display: inline-block;
//     margin-left: 4px;
//     vertical-align: top;
// }

// .text-bold {
//     font-weight: 700;
// }

// .meta {
//     font-size: 1em;
//     color: rgba(0, 0, 0, .4);
// }

// .meta a {
//     text-decoration: none;
//     color: rgba(0, 0, 0, .4);
// }

// .meta a:hover {
//     color: rgba(0, 0, 0, .87);
// }

/* choosedestination section */

.choosedestination, .support{
    padding: 40px 0;
}

.choosedestination p{
    color: #fff;
}
.pad-top{
    padding-top: 30px;
}
.text-black{
    color:#000 !important;
}


.support {
    .box-part {
        i {
            margin-bottom: 20px;
        }
        .title {
            margin-bottom: 20px;
            h4 {
                letter-spacing: 2px;
            }
        }
        .text {
            span {
                @extend %list-p-styles;
            }
        }
    }
}

