<section>
  <div class="head-part">
    <div class="banner-image">
      <div class="transparent-layer">
        <div class="image-text-box">
          <h1>Manage Your RFQ's</h1>
          <h5>Access the largest supplier database for free and no commissions or transactions fees</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>Requests for Quotations</h3>
    <div class="row">
      <div class="manufact_card rfqs"> 
          <button class="btn rfq-btn">+ New RFQ</button>
      </div>
      <div class="manufact_card rfqs">

      </div>
      <div class="manufact_card rfqs">

      </div>
      <div class="manufact_card rfqs">

      </div>

    </div>
  </div>
</section>

<section>
  <div>
    <div class="row ml-60 mr-60">
      <div class="col-md-4">
        <div class="manufact_card p-3 text-center">
          <div class="manufact_logo">
            <img src="assets/img/Vumero-logo.png" alt="Vumero Logo">
          </div>
          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="reviews">
            <p>"I cannot recommend Vumero
              enough. A safe, quality and on
              time delivery with good pricing."
            </p>
          </div>
          <div class="d-flex manufact_details justify-content-center">
            <img src="assets/img/bcci-logo.png" alt="Bcci logo">
            <div class="manufact_brand">
              <p>BCCI</p>
              <p>India</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="manufact_card p-3 text-center">
          <div class="manufact_logo">
            <img src="assets/img/ruby-logo.png" alt="Ruby Logo">
          </div>
          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="reviews">
            <p>"Very responsive during RFP."</p>
          </div>
          <div class="d-flex manufact_details justify-content-center">
            <img src="assets/img/NBL-logo.svg" alt="NBL logo">
            <div class="manufact_brand">
              <p>NBL</p>
              <p>Australia</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="manufact_card p-3 text-center">
          <div class="manufact_logo">
            <img src="assets/img/process-logo.jpg" alt="Sports Logo">
          </div>
          <div class="ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="reviews">
            <p>"Repeat orders and maintaining
              upto date inventory helps us in
              receiving goods on time"
            </p>
          </div>
          <div class="d-flex manufact_details justify-content-center">
            <img src="assets/img/para-sports-logo.png" alt="Para Sports logo">
            <div class="manufact_brand">
              <p>Indian Paralympics</p>
              <p>India</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>