<section id="footer" [hidden]='isFooterHide'>
  <div class="container">
    <div class="row text-xs-left text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Company</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About Us</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Career</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Product</h5>
        <ul class="list-unstyled quick-links">
          <li><a [routerLink]="['/forBuyer']"><i class="fa fa-angle-double-right"></i>For Buyers</a></li>
          <li><a [routerLink]="['/forManufacturers']"><i class="fa fa-angle-double-right"></i>For Suppliers</a></li>
          <li><a [routerLink]="['/howitworks']"><i class="fa fa-angle-double-right"></i>How it works</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Tutorials</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Network</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Legal</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Code of conduct</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <!-- <p><u><a href="#">National Transaction Corporation</a></u> is a Registered
          MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
        <p class="h6">&copy; All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Perogon</a></p>
      </div>
    </div>
  </div>
</section>